<head>
	<meta charset="utf-8">
	<meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
	<title>Usability Rocks!</title>
	<link rel='stylesheet prefetch' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css'>
	<link rel='stylesheet prefetch' href='https://fonts.googleapis.com/css?family=Merriweather:400,400i,700'>
	<link rel='stylesheet prefetch' href='https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700'>
	<link rel='stylesheet prefetch' href='https://cdn.jsdelivr.net/docsearch.js/2/docsearch.min.css'>
	<link rel='stylesheet prefetch' href='https://cdn.jsdelivr.net/npm/instantsearch.js@2/dist/instantsearch.min.css'>
	<link rel='stylesheet prefetch' href='https://cdn.jsdelivr.net/npm/instantsearch.js@2.2.3/dist/instantsearch-theme-algolia.min.css'>
	<link rel='stylesheet prefetch' href='https://cdn.rawgit.com/twbs/bootstrap/gh-pages/assets/css/docs.min.css'>
	<link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/prism/1.6.0/themes/prism.css'>

	<style>
		.toc-h3 {
			margin-left: 20px;
		}
	</style>

	<link href="css/app.css" rel="stylesheet">
	<link href="css/tp3.css" rel="stylesheet">

	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-109054116-1"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());

	  gtag('config', 'UA-109054116-1');
	</script>
</head>