<head>
	<meta charset="utf-8">
	<meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
	<meta name="description" content="Design Gallery for designs... in a gallery.">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="theme-color" content="#005eaa">
	<title>Usability Rocks!</title>
	<link rel="stylesheet prefetch" href="css/bootstrap.css">
	<link rel="stylesheet prefetch" href="https://fonts.googleapis.com/css?family=Merriweather:400,400i,700">
	<link rel="stylesheet prefetch" href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700">
	<link rel="stylesheet prefetch" href="https://cdn.jsdelivr.net/docsearch.js/2/docsearch.min.css">
	<link rel="stylesheet prefetch" href="https://cdn.jsdelivr.net/npm/instantsearch.js@2/dist/instantsearch.min.css">
	<link rel="stylesheet prefetch" href="https://cdn.jsdelivr.net/npm/instantsearch.js@2.2.3/dist/instantsearch-theme-algolia.min.css">

	<link rel="stylesheet prefetch" href="contrib/docs.min.css">
	<link rel="stylesheet prefetch" href="contrib/prism.css">
	<link rel="stylesheet" href="contrib/spectrum.css?04">

	<style>
		.toc-h3 {
			margin-left: 20px;
		}
	</style>

	{# <link href="css/app.css?01" rel="stylesheet"> #}
	<link href="css/docs.css?07" rel="stylesheet">

	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-109054116-1"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());

	  gtag('config', 'UA-109054116-1');
	</script>
</head>