<!-- <script src="https://unpkg.com/jquery/dist/jquery.slim.js"></script> -->
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.bundle.min.js'></script>
<script src='https://cdn.rawgit.com/twbs/bootstrap/gh-pages/assets/js/docs.min.js'></script>
<!-- <script src='https://cdn.jsdelivr.net/docsearch.js/2/docsearch.min.js'></script> -->
<script src="https://cdn.jsdelivr.net/autocomplete.js/0/autocomplete.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/instantsearch.js@2.2.3/dist/instantsearch.min.js"></script>
<script src="https://cdn.jsdelivr.net/algoliasearch/3/algoliasearch.min.js"></script>


<script src="contrib/clipboard.js"></script>
<script src="contrib/prism.min.js"></script>
<script src="contrib/spectrum.js"></script>

<script src="js/app.js?02"></script>
<script src="js/docs.js?24"></script>
