<!-- <script src="https://unpkg.com/jquery/dist/jquery.slim.js"></script> -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src='https://cdn.rawgit.com/twbs/bootstrap/v4-dev/dist/js/bootstrap.bundle.js'></script>
<script src='https://cdn.rawgit.com/twbs/bootstrap/gh-pages/assets/js/docs.min.js'></script>
<!-- <script src='https://cdn.jsdelivr.net/docsearch.js/2/docsearch.min.js'></script> -->
<script src="https://cdn.jsdelivr.net/autocomplete.js/0/autocomplete.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/instantsearch.js@2.2.3/dist/instantsearch.min.js"></script>
<script src="https://cdn.jsdelivr.net/algoliasearch/3/algoliasearch.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.8.4/prism.min.js"></script>
<script src="js/app.js?01"></script>
<script src="js/docs.js?01"></script>
