/* Cursors */

.cur-pointer { cursor: pointer; }
.cur-auto { cursor: auto; }
.cur-help { cursor: help; }
.cur-wait { cursor: wait; }
.cur-not-allowed { cursor:not-allowed; }
.cur-zoom-in { cursor: zoom-in; }
.cur-zoom-out { cursor: zoom-out; }