body:after {
  content: "xs,sm,md,lg,xl,xxl";
  display: none;
}

body:before {
  display: none;
  content: "xs";
}

@media (min-width: 576px) {
  body:before {
    content: "sm";
  }
}

@media (min-width: 768px) {
  body:before {
    content: "md";
  }
}

@media (min-width: 992px) {
  body:before {
    content: "lg";
  }
}

@media (min-width: 1200px) {
  body:before {
    content: "xl";
  }
}

@media (min-width: 1440px) {
  body:before {
    content: "xxl";
  }
}

a:focus, [tabindex]:focus, input:focus, radio:focus, select:focus, checkbox:focus, textarea:focus, label:focus, fieldset:focus, legend:focus, datalist:focus, output:focus, .focus:focus {
  outline: 3px dashed black;
}

a.c-white:focus, [tabindex].c-white:focus, input.c-white:focus, radio.c-white:focus, select.c-white:focus, checkbox.c-white:focus, textarea.c-white:focus, label.c-white:focus, fieldset.c-white:focus, legend.c-white:focus, datalist.c-white:focus, output.c-white:focus, .focus.c-white:focus {
  outline: 3px dashed white;
}

.clickthru {
  pointer-events: none;
}

.fs4 {
  font-size: 4rem;
}

.fs35 {
  font-size: 3.5rem;
}

.fs3 {
  font-size: 3rem;
}

.fs25 {
  font-size: 2.5rem;
}

.fs2 {
  font-size: 2rem;
}

.fs15 {
  font-size: 1.5rem;
}

.fs14 {
  font-size: 1.4rem;
}

.fs13 {
  font-size: 1.3rem;
}

.fs12 {
  font-size: 1.2rem;
}

.fs11 {
  font-size: 1.1rem;
}

.fs1 {
  font-size: 1rem;
}

.fs0875 {
  font-size: .875rem;
}

.fs075 {
  font-size: .75rem;
}

.fs05 {
  font-size: .5rem;
}

.text-monospace {
  font-family: Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace;
}

.text-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.text-black {
  color: black !important;
}

.pad-italics h1 i:after, .pad-italics h1 em:after, .pad-italics h1 .font-italic:after, .pad-italics h2 i:after, .pad-italics h2 em:after, .pad-italics h2 .font-italic:after, .pad-italics h3 i:after, .pad-italics h3 em:after, .pad-italics h3 .font-italic:after, .pad-italics h4 i:after, .pad-italics h4 em:after, .pad-italics h4 .font-italic:after, .pad-italics h5 i:after, .pad-italics h5 em:after, .pad-italics h5 .font-italic:after, .pad-italics h6 i:after, .pad-italics h6 em:after, .pad-italics h6 .font-italic:after {
  content: "";
}

.pad-italics i:after, .pad-italics em:after, .pad-italics .font-italic:after {
  content: "\00a0";
}

.lh1 {
  line-height: 1;
}

.lh1-1 {
  line-height: 1.1;
}

.lh1-2 {
  line-height: 1.2;
}

.lh1-3 {
  line-height: 1.3;
}

.lh1-4 {
  line-height: 1.4;
}

.lh1-5 {
  line-height: 1.5;
}

.lh1-6 {
  line-height: 1.6;
}

.lh1-7 {
  line-height: 1.7;
}

.lh1-8 {
  line-height: 1.8;
}

.lh1-9 {
  line-height: 1.9;
}

.lh2 {
  line-height: 2;
}

.of-v {
  overflow: visible;
}

.of-h {
  overflow: hidden;
}

.of-s {
  overflow: scroll;
}

.of-a {
  overflow: auto;
}

.of-x-s {
  overflow-x: scroll;
}

.of-x-h {
  overflow-x: hidden;
}

.of-x-v {
  overflow-x: visible;
}

.of-x-a {
  overflow-x: auto;
}

.of-y-s {
  overflow-y: scroll;
}

.of-y-h {
  overflow-y: hidden;
}

.of-y-v {
  overflow-y: visible;
}

.of-y-a {
  overflow-y: auto;
}

.cc-1 {
  column-count: 1;
}

.cc-2 {
  column-count: 2;
}

.cc-3 {
  column-count: 3;
}

.cc-4 {
  column-count: 4;
}

@media (min-width: 576px) {
  .cc-sm-1 {
    column-count: 1;
  }
  .cc-sm-2 {
    column-count: 2;
  }
  .cc-sm-3 {
    column-count: 3;
  }
  .cc-sm-4 {
    column-count: 4;
  }
}

@media (min-width: 768px) {
  .cc-md-1 {
    column-count: 1;
  }
  .cc-md-2 {
    column-count: 2;
  }
  .cc-md-3 {
    column-count: 3;
  }
  .cc-md-4 {
    column-count: 4;
  }
}

@media (min-width: 992px) {
  .cc-lg-1 {
    column-count: 1;
  }
  .cc-lg-2 {
    column-count: 2;
  }
  .cc-lg-3 {
    column-count: 3;
  }
  .cc-lg-4 {
    column-count: 4;
  }
}

@media (min-width: 1200px) {
  .cc-xl-1 {
    column-count: 1;
  }
  .cc-xl-2 {
    column-count: 2;
  }
  .cc-xl-3 {
    column-count: 3;
  }
  .cc-xl-4 {
    column-count: 4;
  }
}

@media (min-width: 1440px) {
  .cc-xxl-1 {
    column-count: 1;
  }
  .cc-xxl-2 {
    column-count: 2;
  }
  .cc-xxl-3 {
    column-count: 3;
  }
  .cc-xxl-4 {
    column-count: 4;
  }
}

.cg-1 {
  column-gap: 10px;
}

.cg-2 {
  column-gap: 20px;
}

.cg-3 {
  column-gap: 30px;
}

.cg-4 {
  column-gap: 40px;
}

.crs-solid {
  column-rule-style: solid;
}

.crs-dotted {
  column-rule-style: dotted;
}

.crs-dashed {
  column-rule-style: dashed;
}

.crw-1 {
  column-rule-width: 1px;
}

.crw-2 {
  column-rule-width: 2px;
}

.crw-3 {
  column-rule-width: 3px;
}

.crw-4 {
  column-rule-width: 4px;
}

.crw-5 {
  column-rule-width: 5px;
}

.crc-p {
  column-rule-color: #005eaa;
}

.crc-s {
  column-rule-color: #88c3ea;
}

.cs-1 {
  column-span: 1;
}

.cs-all {
  column-span: all;
}

.mark.mark-yellow {
  background-color: #ffff80;
}

.mark.mark-green {
  background-color: #80ff80;
}

.p-rel {
  position: relative !important;
}

.p-sta {
  position: static !important;
}

.p-abs {
  position: absolute !important;
}

.p-fix {
  position: fixed !important;
}

.p-sti {
  position: sticky !important;
}

.p-cen {
  margin-left: auto !important;
  margin-right: auto !important;
}

.p-mid {
  position: absolute;
  top: 50%;
  transform: translateY(-50%) !important;
}

.p-abs-cen {
  position: absolute;
  top: 50% !important;
  left: 50% !important;
  margin-right: -50% !important;
  transform: translate(-50%, -50%) !important;
}

.p-top {
  top: 0 !important;
}

.p-right {
  right: 0 !important;
}

.p-bottom {
  bottom: 0 !important;
}

.p-left {
  left: 0 !important;
}

.p-edges {
  top: 0 !important;
  right: 0 !important;
  bottom: 0 !important;
  left: 0 !important;
}

.pin-top {
  position: absolute;
  top: 0;
}

.pin-right {
  position: absolute;
  right: 0;
}

.pin-bottom {
  position: absolute;
  bottom: 0;
}

.pin-left {
  position: absolute;
  left: 0;
}

.pin-top-left {
  position: absolute;
  top: 0;
  left: 0;
}

.pin-top-right {
  position: absolute;
  top: 0;
  right: 0;
}

.pin-bottom-right {
  position: absolute;
  bottom: 0;
  right: 0;
}

.pin-bottom-left {
  position: absolute;
  bottom: 0;
  left: 0;
}

.p-x-0 {
  left: 0 !important;
}

.p-x-25 {
  left: 25% !important;
  margin-right: -25% !important;
  transform: translate(-25%) !important;
}

.p-x-33 {
  left: 33% !important;
  margin-right: -33% !important;
  transform: translate(-33%) !important;
}

.p-x-50 {
  left: 50% !important;
  margin-right: -50% !important;
  transform: translate(-50%) !important;
}

.p-x-66 {
  left: 66% !important;
  margin-right: -66% !important;
  transform: translate(-66%) !important;
}

.p-x-75 {
  left: 75% !important;
  margin-right: -75% !important;
  transform: translate(-75%) !important;
}

.p-x-100 {
  right: 0 !important;
}

.p-y-0 {
  top: 0 !important;
}

.p-y-25 {
  top: 25% !important;
}

.p-y-33 {
  top: 33% !important;
}

.p-y-50 {
  top: 50% !important;
}

.p-y-66 {
  top: 66% !important;
}

.p-y-75 {
  top: 75% !important;
}

.p-y-100 {
  bottom: 0 !important;
}

.z-0 {
  z-index: 0;
}

.z-10 {
  z-index: 10;
}

.z-20 {
  z-index: 20;
}

.z-30 {
  z-index: 30;
}

.z-40 {
  z-index: 40;
}

.z-50 {
  z-index: 50;
}

.z-max {
  z-index: 2147483647;
}

.z-auto {
  z-index: auto;
}

.cur-pointer {
  cursor: pointer;
}

.cur-auto {
  cursor: auto;
}

.cur-help {
  cursor: help;
}

.cur-wait {
  cursor: wait;
}

.cur-not-allowed {
  cursor: not-allowed;
}

.cur-zoom-in {
  cursor: zoom-in;
}

.cur-zoom-out {
  cursor: zoom-out;
}

.fill-p {
  fill: #005eaa !important;
}

.fill-s {
  fill: #88c3ea !important;
}

.fill-t {
  fill: #c0e9ff !important;
}

.fill-w {
  fill: white !important;
}

.fill-epub {
  fill: #86b916 !important;
}

.fill-excel {
  fill: #207245 !important;
}

.fill-govd {
  fill: #5a5a5a !important;
}

.fill-pdf {
  fill: #c1272d !important;
}

.fill-ppt {
  fill: #d24625 !important;
}

.fill-fb {
  fill: #3d5a98 !important;
}

.fill-h {
  fill: #005eaa !important;
}

.fill-h:hover {
  fill: #0088f7 !important;
}

.fill-lg {
  fill: url(#linear-gradient);
}

.fill-mask {
  mask: url(#mask);
}

.fill-op-2 {
  opacity: 0.2;
}

.fr-evenodd {
  fill-rule: evenodd;
}

.no-js .js-hidden {
  display: inherit;
}

.no-js .js-hidden-block {
  display: block;
}

.no-js .js-hidden-inline {
  display: inline;
}

.no-js .js-hidden-inline-block {
  display: inline-block;
}

.no-js .js-visible {
  display: none;
}

.cl {
  clear: left;
}

.rl, .cr {
  clear: right;
}

.clear, .cb {
  clear: both;
}

.cf:before, .cf:after {
  content: " ";
  display: table;
}

.cf:after {
  clear: both;
}

.bg-red, .bg-r {
  background-color: #8f0000 !important;
}

.bg-blue-p {
  background-color: #005eaa !important;
  color: white;
}

.bg-blue-p a {
  color: white;
}

.bg-blue-s {
  background-color: #88c3ea !important;
  color: black;
}

.bg-blue-s a {
  color: black;
}

.bg-blue-t {
  background-color: #c0e9ff !important;
}

.b-blue-p {
  border-color: #005eaa !important;
}

.b-blue-s {
  border-color: #88c3ea !important;
}

.b-blue-t {
  border-color: #c0e9ff !important;
}

.bg-purple-p {
  background-color: #712177 !important;
  color: white;
}

.bg-purple-p a {
  color: white;
}

.bg-purple-s {
  background-color: #b890bb !important;
  color: black;
}

.bg-purple-s a {
  color: black;
}

.bg-purple-t {
  background-color: #e3d3e4 !important;
}

.b-purple-p {
  border-color: #712177 !important;
}

.b-purple-s {
  border-color: #b890bb !important;
}

.b-purple-t {
  border-color: #e3d3e4 !important;
}

.bg-brown-p {
  background-color: #705043 !important;
  color: white;
}

.bg-brown-p a {
  color: white;
}

.bg-brown-s {
  background-color: #ad907b !important;
  color: black;
}

.bg-brown-s a {
  color: black;
}

.bg-brown-t {
  background-color: #d7ccc8 !important;
}

.b-brown-p {
  border-color: #705043 !important;
}

.b-brown-s {
  border-color: #ad907b !important;
}

.b-brown-t {
  border-color: #d7ccc8 !important;
}

.bg-teal-p {
  background-color: #00695c !important;
  color: white;
}

.bg-teal-p a {
  color: white;
}

.bg-teal-s {
  background-color: #4ebaaa !important;
  color: black;
}

.bg-teal-s a {
  color: black;
}

.bg-teal-t {
  background-color: #ceece7 !important;
}

.b-teal-p {
  border-color: #00695c !important;
}

.b-teal-s {
  border-color: #4ebaaa !important;
}

.b-teal-t {
  border-color: #ceece7 !important;
}

.bg-orange-p {
  background-color: #bb4d00 !important;
  color: white;
}

.bg-orange-p a {
  color: white;
}

.bg-orange-s {
  background-color: #ffad42 !important;
  color: black;
}

.bg-orange-s a {
  color: black;
}

.bg-orange-t {
  background-color: #ffe97d !important;
}

.b-orange-p {
  border-color: #bb4d00 !important;
}

.b-orange-s {
  border-color: #ffad42 !important;
}

.b-orange-t {
  border-color: #ffe97d !important;
}

.bg-pink-p {
  background-color: #af4448 !important;
  color: white;
}

.bg-pink-p a {
  color: white;
}

.bg-pink-s {
  background-color: #e57373 !important;
  color: black;
}

.bg-pink-s a {
  color: black;
}

.bg-pink-t {
  background-color: #ffc2c2 !important;
}

.b-pink-primary {
  border-color: #af4448 !important;
}

.b-pink-secondary {
  border-color: #e57373 !important;
}

.b-pink-tertiary {
  border-color: #ffc2c2 !important;
}

.bg-slate-p {
  background-color: #29434e !important;
  color: white;
}

.bg-slate-p a {
  color: white;
}

.bg-slate-s {
  background-color: #7e9ba5 !important;
  color: black;
}

.bg-slate-s a {
  color: black;
}

.bg-slate-t {
  background-color: #b6c6d2 !important;
}

.b-slate-primary {
  border-color: #29434e !important;
}

.b-slate-secondary {
  border-color: #7e9ba5 !important;
}

.b-slate-tertiary {
  border-color: #b6c6d2 !important;
}

.bg-indigo-p {
  background-color: #26418f !important;
  color: white;
}

.bg-indigo-p a {
  color: white;
}

.bg-indigo-s {
  background-color: #92a6dd !important;
  color: black;
}

.bg-indigo-s a {
  color: black;
}

.bg-indigo-t {
  background-color: #dee8ff !important;
}

.b-indigo-primary {
  border-color: #26418f !important;
}

.b-indigo-secondary {
  border-color: #92a6dd !important;
}

.b-indigo-tertiary {
  border-color: #dee8ff !important;
}

.bg-cyan-p {
  background-color: #007c91 !important;
  color: white;
}

.bg-cyan-p a {
  color: white;
}

.bg-cyan-s {
  background-color: #65b0bd !important;
  color: black;
}

.bg-cyan-s a {
  color: black;
}

.bg-cyan-t {
  background-color: #cce5e9 !important;
}

.b-cyan-primary {
  border-color: #007c91 !important;
}

.b-cyan-secondary {
  border-color: #65b0bd !important;
}

.b-cyan-tertiary {
  border-color: #cce5e9 !important;
}

.bg-green-p {
  background-color: #4b830d !important;
  color: white;
}

.bg-green-p a {
  color: white;
}

.bg-green-s {
  background-color: #84bc49 !important;
  color: black;
}

.bg-green-s a {
  color: black;
}

.bg-green-t {
  background-color: #dcedc8 !important;
}

.b-green-primary {
  border-color: #4b830d !important;
}

.b-green-secondary {
  border-color: #84bc49 !important;
}

.b-green-tertiary {
  border-color: #dcedc8 !important;
}

.bg-amber-p {
  background-color: #fbab18 !important;
  color: white;
}

.bg-amber-p a {
  color: white;
}

.bg-amber-s {
  background-color: #ffd54f !important;
  color: black;
}

.bg-amber-s a {
  color: black;
}

.bg-amber-t {
  background-color: #ffecb3 !important;
}

.b-amber-primary {
  border-color: #fbab18 !important;
}

.b-amber-secondary {
  border-color: #ffd54f !important;
}

.b-amber-tertiary {
  border-color: #ffecb3 !important;
}

.bg-alert-red, .bg-alert-r {
  background-color: #870808 !important;
}

.bg-gray-d2 {
  background-color: #333 !important;
}

.bg-gray-d1 {
  background-color: #555 !important;
}

.bg-gray {
  background-color: #bdbdbd !important;
}

.bg-gray-l1 {
  background-color: #e0e0e0 !important;
}

.bg-gray-l2 {
  background-color: #f0f0f0 !important;
}

.bg-gray-l3 {
  background-color: #f5f5f5 !important;
}

.b-gray-d2 {
  border-color: #333 !important;
}

.b-gray-d1 {
  border-color: #555 !important;
}

.b-gray {
  border-color: #bdbdbd !important;
}

.b-gray-l1 {
  border-color: #e0e0e0 !important;
}

.b-gray-l2 {
  border-color: #f0f0f0 !important;
}

.b-gray-l3 {
  border-color: #f5f5f5 !important;
}

.c-white {
  color: white !important;
}

.c-black {
  color: black !important;
}

.c-red {
  color: #8f0000 !important;
}

.c-primary {
  color: #005eaa !important;
}

.c-gray-d2 {
  color: #333 !important;
}

.c-gray-d1 {
  color: #555 !important;
}

.c-gray {
  color: #bdbdbd !important;
}

.c-gray-l1 {
  color: #e0e0e0 !important;
}

.c-gray-l2 {
  color: #f0f0f0 !important;
}

.c-gray-l3 {
  color: #f5f5f5 !important;
}

.lst-la, .lla {
  list-style-type: lower-alpha;
}

.lst-lg, .llg {
  list-style-type: lower-greek;
}

.lst-lr, .llr {
  list-style-type: lower-roman;
}

.lst-ua, .lua {
  list-style-type: upper-alpha;
}

.lst-ur, .lur {
  list-style-type: upper-roman;
}

.lsp-in {
  list-style-position: inside;
}

.card.flush .card {
  border: 0;
}

.fw-100 {
  font-weight: 100 !important;
}

.fw-200 {
  font-weight: 200 !important;
}

.fw-300 {
  font-weight: 300 !important;
}

.fw-400 {
  font-weight: 400 !important;
}

.fw-500 {
  font-weight: 500 !important;
}

.fw-600 {
  font-weight: 600 !important;
}

.fw-700 {
  font-weight: 700 !important;
}

.fw-800 {
  font-weight: 800 !important;
}

.fw-900 {
  font-weight: 900 !important;
}

.fw-light {
  font-weight: 300 !important;
}

.fw-heavy {
  font-weight: 700 !important;
}

.t-leg {
  text-rendering: optimizeLegibility !important;
}

.t-spd {
  text-rendering: optimizespeed !important;
}

.display-5 {
  font-size: 2.5rem;
  font-weight: 300;
  line-height: 1.1;
}

.display-6 {
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 1.1;
}

.bt-0 {
  border-top: none !important;
}

.bt-1 {
  border-top: 1px solid #f0f0f0 !important;
}

.bt-2 {
  border-top: 2px solid #f0f0f0 !important;
}

.bt-3 {
  border-top: 3px solid #f0f0f0 !important;
}

.bt-4 {
  border-top: 4px solid #f0f0f0 !important;
}

.bt-5 {
  border-top: 5px solid #f0f0f0 !important;
}

.br-0 {
  border-right: none !important;
}

.br-1 {
  border-right: 1px solid #f0f0f0 !important;
}

.br-2 {
  border-right: 2px solid #f0f0f0 !important;
}

.br-3 {
  border-right: 3px solid #f0f0f0 !important;
}

.br-4 {
  border-right: 4px solid #f0f0f0 !important;
}

.br-5 {
  border-right: 5px solid #f0f0f0 !important;
}

.bb-0 {
  border-bottom: none !important;
}

.bb-1 {
  border-bottom: 1px solid #f0f0f0 !important;
}

.bb-2 {
  border-bottom: 2px solid #f0f0f0 !important;
}

.bb-3 {
  border-bottom: 3px solid #f0f0f0 !important;
}

.bb-4 {
  border-bottom: 4px solid #f0f0f0 !important;
}

.bb-5 {
  border-bottom: 5px solid #f0f0f0 !important;
}

.bl-0 {
  border-left: none !important;
}

.bl-1 {
  border-left: 1px solid #f0f0f0 !important;
}

.bl-2 {
  border-left: 2px solid #f0f0f0 !important;
}

.bl-3 {
  border-left: 3px solid #f0f0f0 !important;
}

.bl-4 {
  border-left: 4px solid #f0f0f0 !important;
}

.bl-5 {
  border-left: 5px solid #f0f0f0 !important;
}

.ba-0 {
  border: none !important;
}

.ba-1 {
  border: 1px solid #f0f0f0 !important;
}

.ba-2 {
  border: 2px solid #f0f0f0 !important;
}

.ba-3 {
  border: 3px solid #f0f0f0 !important;
}

.ba-4 {
  border: 4px solid #f0f0f0 !important;
}

.ba-5 {
  border: 5px solid #f0f0f0 !important;
}

.bs-dotted {
  border-style: dotted !important;
}

.bs-dashed {
  border-style: dashed !important;
}

.bs-solid {
  border-style: solid !important;
}

.bs-double {
  border-style: double !important;
}

.bs-groove {
  border-style: groove !important;
}

.bs-ridge {
  border-style: ridge !important;
}

.bs-inset {
  border-style: inset !important;
}

.bs-outset {
  border-style: outset !important;
}

.bs-none {
  border-style: none !important;
}

.bs-hidden {
  border-style: hidden !important;
}

.r-xsmall {
  border-radius: 0.1rem !important;
}

.r-small {
  border-radius: 0.25rem !important;
}

.r-medium {
  border-radius: 0.5rem !important;
}

.r-large {
  border-radius: 0.75rem !important;
}

.r-xlarge {
  border-radius: 1rem !important;
}

.r-none {
  border-radius: 0 !important;
}

.r-tr {
  border-top-right-radius: 0.25rem !important;
}

.r-tl {
  border-top-left-radius: 0.25rem !important;
}

.r-br {
  border-bottom-right-radius: 0.25rem !important;
}

.r-bl {
  border-bottom-left-radius: 0.25rem !important;
}

.r-top-0 {
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
}

.r-right-0 {
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

.r-bottom-0 {
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

.r-left-0 {
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}

.r-top-1 {
  border-top-left-radius: 0.25rem !important;
  border-top-right-radius: 0.25rem !important;
}

.r-top-2 {
  border-top-left-radius: 0.5rem !important;
  border-top-right-radius: 0.5rem !important;
}

.r-top-3 {
  border-top-left-radius: 0.75rem !important;
  border-top-right-radius: 0.75rem !important;
}

.r-top-4 {
  border-top-left-radius: 1rem !important;
  border-top-right-radius: 1rem !important;
}

.r-right-1 {
  border-bottom-right-radius: 0.25rem !important;
  border-top-right-radius: 0.25rem !important;
}

.r-right-2 {
  border-bottom-right-radius: 0.5rem !important;
  border-top-right-radius: 0.5rem !important;
}

.r-right-3 {
  border-bottom-right-radius: 0.75rem !important;
  border-top-right-radius: 0.75rem !important;
}

.r-right-4 {
  border-bottom-right-radius: 1rem !important;
  border-top-right-radius: 1rem !important;
}

.r-bottom-1 {
  border-bottom-left-radius: 0.25rem !important;
  border-bottom-right-radius: 0.25rem !important;
}

.r-bottom-2 {
  border-bottom-left-radius: 0.5rem !important;
  border-bottom-right-radius: 0.5rem !important;
}

.r-bottom-3 {
  border-bottom-left-radius: 0.75rem !important;
  border-bottom-right-radius: 0.75rem !important;
}

.r-bottom-4 {
  border-bottom-left-radius: 1rem !important;
  border-bottom-right-radius: 1rem !important;
}

.r-left-1 {
  border-top-left-radius: 0.25rem !important;
  border-bottom-left-radius: 0.25rem !important;
}

.r-left-2 {
  border-top-left-radius: 0.5rem !important;
  border-bottom-left-radius: 0.5rem !important;
}

.r-left-3 {
  border-top-left-radius: 0.75rem !important;
  border-bottom-left-radius: 0.75rem !important;
}

.r-left-4 {
  border-top-left-radius: 1rem !important;
  border-bottom-left-radius: 1rem !important;
}

.ds-0 {
  box-shadow: none !important;
}

.ds-1 {
  box-shadow: 0 0 50px 10px rgba(0, 0, 0, 0.1);
}

.ds-2 {
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.5);
}

.ds-2a {
  box-shadow: 0px 10px 5px 0px rgba(0, 0, 0, 0.5);
}

.ds-2b {
  box-shadow: -10px 10px 5px 0px rgba(0, 0, 0, 0.5);
}

.ds-3 {
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
}

.ds-4 {
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.5);
}

.ds-5 {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.23);
}

.ds-6 {
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
}

.ds-7 {
  overflow: hidden;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  transition: .25s box-shadow;
}

.ds-7:focus, .ds-7:hover {
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
}

.w-33 {
  width: 33% !important;
}

.w-66 {
  width: 66% !important;
}

.w-1 {
  width: 0.25rem !important;
}

.w-2 {
  width: 0.5rem !important;
}

.w-3 {
  width: 0.75rem !important;
}

.w-4 {
  width: 1rem !important;
}

.w-5 {
  width: 1.25rem !important;
}

.w-6 {
  width: 1.5rem !important;
}

.w-7 {
  width: 1.75rem !important;
}

.w-8 {
  width: 2rem !important;
}

.w-9 {
  width: 2.25rem !important;
}

.w-10 {
  width: 2.5rem !important;
}

.w-12 {
  width: 3rem !important;
}

.w-16 {
  width: 4rem !important;
}

.w-24 {
  width: 6rem !important;
}

.w-32 {
  width: 8rem !important;
}

.w-48 {
  width: 10rem !important;
}

.w-64 {
  width: 12rem !important;
}

.w-96 {
  width: 14rem !important;
}

.w-128 {
  width: 20rem !important;
}

.vw5 {
  width: 5vw;
}

.vw10 {
  width: 10vw;
}

.vw15 {
  width: 15vw;
}

.vw20 {
  width: 20vw;
}

.vw25 {
  width: 25vw;
}

.vw30 {
  width: 30vw;
}

.vw35 {
  width: 35vw;
}

.vw40 {
  width: 40vw;
}

.vw45 {
  width: 45vw;
}

.vw50 {
  width: 50vw;
}

.vw55 {
  width: 55vw;
}

.vw60 {
  width: 60vw;
}

.vw65 {
  width: 65vw;
}

.vw70 {
  width: 70vw;
}

.vw75 {
  width: 75vw;
}

.vw80 {
  width: 80vw;
}

.vw85 {
  width: 85vw;
}

.vw90 {
  width: 90vw;
}

.vw95 {
  width: 95vw;
}

.vw100 {
  width: 100vw;
}

.h-33 {
  width: 33% !important;
}

.h-66 {
  height: 66% !important;
}

.h-1 {
  height: 0.25rem !important;
}

.h-2 {
  height: 0.5rem !important;
}

.h-3 {
  height: 0.75rem !important;
}

.h-4 {
  height: 1rem !important;
}

.h-5 {
  height: 1.25rem !important;
}

.h-6 {
  height: 1.5rem !important;
}

.h-7 {
  height: 1.75rem !important;
}

.h-8 {
  height: 2rem !important;
}

.h-9 {
  height: 2.25rem !important;
}

.h-10 {
  height: 2.5rem !important;
}

.h-12 {
  height: 3rem !important;
}

.h-16 {
  height: 4rem !important;
}

.h-24 {
  height: 6rem !important;
}

.h-32 {
  height: 8rem !important;
}

.h-48 {
  height: 10rem !important;
}

.h-64 {
  height: 12rem !important;
}

.h-96 {
  height: 14rem !important;
}

.h-128 {
  height: 20rem !important;
}

.mw-50 {
  max-width: 50% !important;
}

.mh-50 {
  max-height: 50% !important;
}

.max {
  max-width: 100%;
  width: auto;
  height: auto;
}

.vh5 {
  height: 5vh;
}

.vh10 {
  height: 10vh;
}

.vh15 {
  height: 15vh;
}

.vh20 {
  height: 20vh;
}

.vh25 {
  height: 25vh;
}

.vh30 {
  height: 30vh;
}

.vh35 {
  height: 35vh;
}

.vh40 {
  height: 40vh;
}

.vh45 {
  height: 45vh;
}

.vh50 {
  height: 50vh;
}

.vh55 {
  height: 55vh;
}

.vh60 {
  height: 60vh;
}

.vh65 {
  height: 65vh;
}

.vh70 {
  height: 70vh;
}

.vh75 {
  height: 75vh;
}

.vh80 {
  height: 80vh;
}

.vh85 {
  height: 85vh;
}

.vh90 {
  height: 90vh;
}

.vh95 {
  height: 95vh;
}

.vh100 {
  height: 100vh;
}

.pl-15 {
  padding-left: 15px !important;
}

.pr-15 {
  padding-right: 15px !important;
}

@media (max-width: 575px) {
  .pl-xs-15 {
    padding-left: 15px !important;
  }
  .pr-xs-15 {
    padding-right: 15px !important;
  }
  .display-xs-1 {
    font-size: 6rem;
    font-weight: 300;
    line-height: 1.1;
  }
  .display-xs-2 {
    font-size: 5.5rem;
    font-weight: 300;
    line-height: 1.1;
  }
  .display-xs-3 {
    font-size: 5rem;
    font-weight: 300;
    line-height: 1.1;
  }
  .display-xs-4 {
    font-size: 4.5rem;
    font-weight: 300;
    line-height: 1.1;
  }
  .display-xs-5 {
    font-size: 2.5rem;
    font-weight: 300;
    line-height: 1.1;
  }
  .display-xs-6 {
    font-size: 1.5rem;
    font-weight: 300;
    line-height: 1.1;
  }
  .bt-xs-0 {
    border-top: none !important;
  }
  .br-xs-0 {
    border-right: none !important;
  }
  .bb-xs-0 {
    border-bottom: none !important;
  }
  .bl-xs-0 {
    border-left: none !important;
  }
}

@media (min-width: 576px) {
  .pl-sm-15 {
    padding-left: 15px !important;
  }
  .pr-sm-15 {
    padding-right: 15px !important;
  }
  .display-sm-1 {
    font-size: 6rem;
    font-weight: 300;
    line-height: 1.1;
  }
  .display-sm-2 {
    font-size: 5.5rem;
    font-weight: 300;
    line-height: 1.1;
  }
  .display-sm-3 {
    font-size: 5rem;
    font-weight: 300;
    line-height: 1.1;
  }
  .display-sm-4 {
    font-size: 4.5rem;
    font-weight: 300;
    line-height: 1.1;
  }
  .display-sm-5 {
    font-size: 2.5rem;
    font-weight: 300;
    line-height: 1.1;
  }
  .display-sm-6 {
    font-size: 1.5rem;
    font-weight: 300;
    line-height: 1.1;
  }
  .bt-sm-0 {
    border-top: none !important;
  }
  .br-sm-0 {
    border-right: none !important;
  }
  .bb-sm-0 {
    border-bottom: none !important;
  }
  .bl-sm-0 {
    border-left: none !important;
  }
}

@media (min-width: 768px) {
  .pl-md-15 {
    padding-left: 15px !important;
  }
  .pr-md-15 {
    padding-right: 15px !important;
  }
  .display-md-1 {
    font-size: 6rem;
    font-weight: 300;
    line-height: 1.1;
  }
  .display-md-2 {
    font-size: 5.5rem;
    font-weight: 300;
    line-height: 1.1;
  }
  .display-md-3 {
    font-size: 5rem;
    font-weight: 300;
    line-height: 1.1;
  }
  .display-md-4 {
    font-size: 4.5rem;
    font-weight: 300;
    line-height: 1.1;
  }
  .display-md-5 {
    font-size: 2.5rem;
    font-weight: 300;
    line-height: 1.1;
  }
  .display-md-6 {
    font-size: 1.5rem;
    font-weight: 300;
    line-height: 1.1;
  }
  .bt-md-0 {
    border-top: none !important;
  }
  .br-md-0 {
    border-right: none !important;
  }
  .bb-md-0 {
    border-bottom: none !important;
  }
  .bl-md-0 {
    border-left: none !important;
  }
}

@media (min-width: 992px) {
  .pl-lg-15 {
    padding-left: 15px !important;
  }
  .pr-lg-15 {
    padding-right: 15px !important;
  }
  .display-lg-1 {
    font-size: 6rem;
    font-weight: 300;
    line-height: 1.1;
  }
  .display-lg-2 {
    font-size: 5.5rem;
    font-weight: 300;
    line-height: 1.1;
  }
  .display-lg-3 {
    font-size: 5rem;
    font-weight: 300;
    line-height: 1.1;
  }
  .display-lg-4 {
    font-size: 4.5rem;
    font-weight: 300;
    line-height: 1.1;
  }
  .display-lg-5 {
    font-size: 2.5rem;
    font-weight: 300;
    line-height: 1.1;
  }
  .display-lg-6 {
    font-size: 1.5rem;
    font-weight: 300;
    line-height: 1.1;
  }
  .bt-lg-0 {
    border-top: none !important;
  }
  .br-lg-0 {
    border-right: none !important;
  }
  .bb-lg-0 {
    border-bottom: none !important;
  }
  .bl-lg-0 {
    border-left: none !important;
  }
}

@media (min-width: 1200px) {
  .pl-xl-15 {
    padding-left: 15px !important;
  }
  .pr-xl-15 {
    padding-right: 15px !important;
  }
  .display-xl-1 {
    font-size: 6rem;
    font-weight: 300;
    line-height: 1.1;
  }
  .display-xl-2 {
    font-size: 5.5rem;
    font-weight: 300;
    line-height: 1.1;
  }
  .display-xl-3 {
    font-size: 5rem;
    font-weight: 300;
    line-height: 1.1;
  }
  .display-xl-4 {
    font-size: 4.5rem;
    font-weight: 300;
    line-height: 1.1;
  }
  .display-xl-5 {
    font-size: 2.5rem;
    font-weight: 300;
    line-height: 1.1;
  }
  .display-xl-6 {
    font-size: 1.5rem;
    font-weight: 300;
    line-height: 1.1;
  }
  .bt-xl-0 {
    border-top: none !important;
  }
  .br-xl-0 {
    border-right: none !important;
  }
  .bb-xl-0 {
    border-bottom: none !important;
  }
  .bl-xl-0 {
    border-left: none !important;
  }
}

@media (min-width: 1440px) {
  .pl-xxl-15 {
    padding-left: 15px !important;
  }
  .pr-xxl-15 {
    padding-right: 15px !important;
  }
  .display-xxl-1 {
    font-size: 6rem;
    font-weight: 300;
    line-height: 1.1;
  }
  .display-xxl-2 {
    font-size: 5.5rem;
    font-weight: 300;
    line-height: 1.1;
  }
  .display-xxl-3 {
    font-size: 5rem;
    font-weight: 300;
    line-height: 1.1;
  }
  .display-xxl-4 {
    font-size: 4.5rem;
    font-weight: 300;
    line-height: 1.1;
  }
  .display-xxl-5 {
    font-size: 2.5rem;
    font-weight: 300;
    line-height: 1.1;
  }
  .display-xxl-6 {
    font-size: 1.5rem;
    font-weight: 300;
    line-height: 1.1;
  }
  .bt-xxl-0 {
    border-top: none !important;
  }
  .br-xxl-0 {
    border-right: none !important;
  }
  .bb-xxl-0 {
    border-bottom: none !important;
  }
  .bl-xxl-0 {
    border-left: none !important;
  }
}

.or-1 {
  order: 1;
}

.or-2 {
  order: 2;
}

.or-3 {
  order: 3;
}

.or-4 {
  order: 4;
}

.or-5 {
  order: 5;
}

.or-6 {
  order: 6;
}

.or-7 {
  order: 7;
}

.or-8 {
  order: 8;
}

.or-9 {
  order: 9;
}

.or-10 {
  order: 10;
}

.or-11 {
  order: 11;
}

.or-12 {
  order: 12;
}

.op-100 {
  opacity: 1;
}

.op-90 {
  opacity: .9;
}

.op-80 {
  opacity: .8;
}

.op-75 {
  opacity: .75;
}

.op-50 {
  opacity: .5;
}

.op-25 {
  opacity: .25;
}

.op-0 {
  opacity: 0;
}

.bg-primary {
  background-color: #005eaa !important;
}

.bg-secondary {
  background-color: #88c3ea !important;
}

.bg-tertiary {
  background-color: #c0e9ff !important;
}

.b-primary {
  border-color: #005eaa !important;
}

.b-secondary {
  border-color: #88c3ea !important;
}

.b-tertiary {
  border-color: #c0e9ff !important;
}

.bt-primary {
  border-top-color: #005eaa !important;
}

.bt-secondary {
  border-top-color: #88c3ea !important;
}

.bt-tertiary {
  border-top-color: #c0e9ff !important;
}

.br-primary {
  border-right-color: #005eaa !important;
}

.br-secondary {
  border-right-color: #88c3ea !important;
}

.br-tertiary {
  border-right-color: #c0e9ff !important;
}

.bb-primary {
  border-bottom-color: #005eaa !important;
}

.bb-secondary {
  border-bottom-color: #88c3ea !important;
}

.bb-tertiary {
  border-bottom-color: #c0e9ff !important;
}

.bl-primary {
  border-left-color: #005eaa !important;
}

.bl-secondary {
  border-left-color: #88c3ea !important;
}

.bl-tertiary {
  border-left-color: #c0e9ff !important;
}

.c-primary {
  color: #005eaa !important;
}

.theme-purple .bg-primary {
  background-color: #712177 !important;
}

.theme-purple .bg-secondary {
  background-color: #b890bb !important;
}

.theme-purple .bg-tertiary {
  background-color: #e3d3e4 !important;
}

.theme-purple .b-primary {
  border-color: #712177 !important;
}

.theme-purple .b-secondary {
  border-color: #b890bb !important;
}

.theme-purple .b-tertiary {
  border-color: #e3d3e4 !important;
}

.theme-purple .bt-primary {
  border-top-color: #712177 !important;
}

.theme-purple .bt-secondary {
  border-top-color: #b890bb !important;
}

.theme-purple .bt-tertiary {
  border-top-color: #e3d3e4 !important;
}

.theme-purple .br-primary {
  border-right-color: #712177 !important;
}

.theme-purple .br-secondary {
  border-right-color: #b890bb !important;
}

.theme-purple .br-tertiary {
  border-right-color: #e3d3e4 !important;
}

.theme-purple .bb-primary {
  border-bottom-color: #712177 !important;
}

.theme-purple .bb-secondary {
  border-bottom-color: #b890bb !important;
}

.theme-purple .bb-tertiary {
  border-bottom-color: #e3d3e4 !important;
}

.theme-purple .bl-primary {
  border-left-color: #712177 !important;
}

.theme-purple .bl-secondary {
  border-left-color: #b890bb !important;
}

.theme-purple .bl-tertiary {
  border-left-color: #e3d3e4 !important;
}

.theme-purple .c-primary {
  color: #712177 !important;
}

.theme-brown .bg-primary {
  background-color: #705043 !important;
}

.theme-brown .bg-secondary {
  background-color: #ad907b !important;
}

.theme-brown .bg-tertiary {
  background-color: #d7ccc8 !important;
}

.theme-brown .b-primary {
  border-color: #705043 !important;
}

.theme-brown .b-secondary {
  border-color: #ad907b !important;
}

.theme-brown .b-tertiary {
  border-color: #d7ccc8 !important;
}

.theme-brown .bt-primary {
  border-top-color: #705043 !important;
}

.theme-brown .bt-secondary {
  border-top-color: #ad907b !important;
}

.theme-brown .bt-tertiary {
  border-top-color: #d7ccc8 !important;
}

.theme-brown .br-primary {
  border-right-color: #705043 !important;
}

.theme-brown .br-secondary {
  border-right-color: #ad907b !important;
}

.theme-brown .br-tertiary {
  border-right-color: #d7ccc8 !important;
}

.theme-brown .bb-primary {
  border-bottom-color: #705043 !important;
}

.theme-brown .bb-secondary {
  border-bottom-color: #ad907b !important;
}

.theme-brown .bb-tertiary {
  border-bottom-color: #d7ccc8 !important;
}

.theme-brown .bl-primary {
  border-left-color: #705043 !important;
}

.theme-brown .bl-secondary {
  border-left-color: #ad907b !important;
}

.theme-brown .bl-tertiary {
  border-left-color: #d7ccc8 !important;
}

.theme-brown .c-primary {
  color: #705043 !important;
}

.theme-teal .bg-primary {
  background-color: #00695c !important;
}

.theme-teal .bg-secondary {
  background-color: #4ebaaa !important;
}

.theme-teal .bg-tertiary {
  background-color: #ceece7 !important;
}

.theme-teal .b-primary {
  border-color: #00695c !important;
}

.theme-teal .b-secondary {
  border-color: #4ebaaa !important;
}

.theme-teal .b-tertiary {
  border-color: #ceece7 !important;
}

.theme-teal .bt-primary {
  border-top-color: #00695c !important;
}

.theme-teal .bt-secondary {
  border-top-color: #4ebaaa !important;
}

.theme-teal .bt-tertiary {
  border-top-color: #ceece7 !important;
}

.theme-teal .br-primary {
  border-right-color: #00695c !important;
}

.theme-teal .br-secondary {
  border-right-color: #4ebaaa !important;
}

.theme-teal .br-tertiary {
  border-right-color: #ceece7 !important;
}

.theme-teal .bb-primary {
  border-bottom-color: #00695c !important;
}

.theme-teal .bb-secondary {
  border-bottom-color: #4ebaaa !important;
}

.theme-teal .bb-tertiary {
  border-bottom-color: #ceece7 !important;
}

.theme-teal .bl-primary {
  border-left-color: #00695c !important;
}

.theme-teal .bl-secondary {
  border-left-color: #4ebaaa !important;
}

.theme-teal .bl-tertiary {
  border-left-color: #ceece7 !important;
}

.theme-teal .c-primary {
  color: #00695c !important;
}

.theme-pink .bg-primary {
  background-color: #af4448 !important;
}

.theme-pink .bg-secondary {
  background-color: #e57373 !important;
}

.theme-pink .bg-tertiary {
  background-color: #ffc2c2 !important;
}

.theme-pink .b-primary {
  border-color: #af4448 !important;
}

.theme-pink .b-secondary {
  border-color: #e57373 !important;
}

.theme-pink .b-tertiary {
  border-color: #ffc2c2 !important;
}

.theme-pink .bt-primary {
  border-top-color: #af4448 !important;
}

.theme-pink .bt-secondary {
  border-top-color: #e57373 !important;
}

.theme-pink .bt-tertiary {
  border-top-color: #ffc2c2 !important;
}

.theme-pink .br-primary {
  border-right-color: #af4448 !important;
}

.theme-pink .br-secondary {
  border-right-color: #e57373 !important;
}

.theme-pink .br-tertiary {
  border-right-color: #ffc2c2 !important;
}

.theme-pink .bb-primary {
  border-bottom-color: #af4448 !important;
}

.theme-pink .bb-secondary {
  border-bottom-color: #e57373 !important;
}

.theme-pink .bb-tertiary {
  border-bottom-color: #ffc2c2 !important;
}

.theme-pink .bl-primary {
  border-left-color: #af4448 !important;
}

.theme-pink .bl-secondary {
  border-left-color: #e57373 !important;
}

.theme-pink .bl-tertiary {
  border-left-color: #ffc2c2 !important;
}

.theme-pink .c-primary {
  color: #af4448 !important;
}

.theme-orange .bg-primary {
  background-color: #bb4d00 !important;
}

.theme-orange .bg-secondary {
  background-color: #ffad42 !important;
}

.theme-orange .bg-tertiary {
  background-color: #ffe97d !important;
}

.theme-orange .b-primary {
  border-color: #bb4d00 !important;
}

.theme-orange .b-secondary {
  border-color: #ffad42 !important;
}

.theme-orange .b-tertiary {
  border-color: #ffe97d !important;
}

.theme-orange .bt-primary {
  border-top-color: #bb4d00 !important;
}

.theme-orange .bt-secondary {
  border-top-color: #ffad42 !important;
}

.theme-orange .bt-tertiary {
  border-top-color: #ffe97d !important;
}

.theme-orange .br-primary {
  border-right-color: #bb4d00 !important;
}

.theme-orange .br-secondary {
  border-right-color: #ffad42 !important;
}

.theme-orange .br-tertiary {
  border-right-color: #ffe97d !important;
}

.theme-orange .bb-primary {
  border-bottom-color: #bb4d00 !important;
}

.theme-orange .bb-secondary {
  border-bottom-color: #ffad42 !important;
}

.theme-orange .bb-tertiary {
  border-bottom-color: #ffe97d !important;
}

.theme-orange .bl-primary {
  border-left-color: #bb4d00 !important;
}

.theme-orange .bl-secondary {
  border-left-color: #ffad42 !important;
}

.theme-orange .bl-tertiary {
  border-left-color: #ffe97d !important;
}

.theme-orange .c-primary {
  color: #bb4d00 !important;
}

.theme-slate .bg-primary {
  background-color: #29434e !important;
}

.theme-slate .bg-secondary {
  background-color: #7e9ba5 !important;
}

.theme-slate .bg-tertiary {
  background-color: #b6c6d2 !important;
}

.theme-slate .b-primary {
  border-color: #29434e !important;
}

.theme-slate .b-secondary {
  border-color: #7e9ba5 !important;
}

.theme-slate .b-tertiary {
  border-color: #b6c6d2 !important;
}

.theme-slate .bt-primary-color {
  border-top-color: #29434e !important;
}

.theme-slate .bt-secondary-color {
  border-top-color: #7e9ba5 !important;
}

.theme-slate .bt-tertiary-color {
  border-top-color: #b6c6d2 !important;
}

.theme-slate .br-primary-color {
  border-right-color: #29434e !important;
}

.theme-slate .br-secondary-color {
  border-right-color: #7e9ba5 !important;
}

.theme-slate .br-tertiary-color {
  border-right-color: #b6c6d2 !important;
}

.theme-slate .bb-primary-color {
  border-bottom-color: #29434e !important;
}

.theme-slate .bb-secondary-color {
  border-bottom-color: #7e9ba5 !important;
}

.theme-slate .bb-tertiary-color {
  border-bottom-color: #b6c6d2 !important;
}

.theme-slate .bl-primary-color {
  border-left-color: #29434e !important;
}

.theme-slate .bl-secondary-color {
  border-left-color: #7e9ba5 !important;
}

.theme-slate .bl-tertiary-color {
  border-left-color: #b6c6d2 !important;
}

.theme-slate .c-primary {
  color: #29434e !important;
}

.theme-indigo .bg-primary {
  background-color: #26418f !important;
}

.theme-indigo .bg-secondary {
  background-color: #92a6dd !important;
}

.theme-indigo .bg-tertiary {
  background-color: #dee8ff !important;
}

.theme-indigo .b-primary {
  border-color: #26418f !important;
}

.theme-indigo .b-secondary {
  border-color: #92a6dd !important;
}

.theme-indigo .b-tertiary {
  border-color: #dee8ff !important;
}

.theme-indigo .bt-primary-color {
  border-top-color: #26418f !important;
}

.theme-indigo .bt-secondary-color {
  border-top-color: #92a6dd !important;
}

.theme-indigo .bt-tertiary-color {
  border-top-color: #dee8ff !important;
}

.theme-indigo .br-primary-color {
  border-right-color: #26418f !important;
}

.theme-indigo .br-secondary-color {
  border-right-color: #92a6dd !important;
}

.theme-indigo .br-tertiary-color {
  border-right-color: #dee8ff !important;
}

.theme-indigo .bb-primary-color {
  border-bottom-color: #26418f !important;
}

.theme-indigo .bb-secondary-color {
  border-bottom-color: #92a6dd !important;
}

.theme-indigo .bb-tertiary-color {
  border-bottom-color: #dee8ff !important;
}

.theme-indigo .bl-primary-color {
  border-left-color: #26418f !important;
}

.theme-indigo .bl-secondary-color {
  border-left-color: #92a6dd !important;
}

.theme-indigo .bl-tertiary-color {
  border-left-color: #dee8ff !important;
}

.theme-indigo .c-primary {
  color: #26418f !important;
}

.theme-cyan .bg-primary {
  background-color: #007c91 !important;
}

.theme-cyan .bg-secondary {
  background-color: #65b0bd !important;
}

.theme-cyan .bg-tertiary {
  background-color: #cce5e9 !important;
}

.theme-cyan .b-primary {
  border-color: #007c91 !important;
}

.theme-cyan .b-secondary {
  border-color: #65b0bd !important;
}

.theme-cyan .b-tertiary {
  border-color: #cce5e9 !important;
}

.theme-cyan .bt-primary-color {
  border-top-color: #007c91 !important;
}

.theme-cyan .bt-secondary-color {
  border-top-color: #65b0bd !important;
}

.theme-cyan .bt-tertiary-color {
  border-top-color: #cce5e9 !important;
}

.theme-cyan .br-primary-color {
  border-right-color: #007c91 !important;
}

.theme-cyan .br-secondary-color {
  border-right-color: #65b0bd !important;
}

.theme-cyan .br-tertiary-color {
  border-right-color: #cce5e9 !important;
}

.theme-cyan .bb-primary-color {
  border-bottom-color: #007c91 !important;
}

.theme-cyan .bb-secondary-color {
  border-bottom-color: #65b0bd !important;
}

.theme-cyan .bb-tertiary-color {
  border-bottom-color: #cce5e9 !important;
}

.theme-cyan .bl-primary-color {
  border-left-color: #007c91 !important;
}

.theme-cyan .bl-secondary-color {
  border-left-color: #65b0bd !important;
}

.theme-cyan .bl-tertiary-color {
  border-left-color: #cce5e9 !important;
}

.theme-cyan .c-primary {
  color: #007c91 !important;
}

.theme-green .bg-primary {
  background-color: #4b830d !important;
}

.theme-green .bg-secondary {
  background-color: #84bc49 !important;
}

.theme-green .bg-tertiary {
  background-color: #dcedc8 !important;
}

.theme-green .b-primary {
  border-color: #4b830d !important;
}

.theme-green .b-secondary {
  border-color: #84bc49 !important;
}

.theme-green .b-tertiary {
  border-color: #dcedc8 !important;
}

.theme-green .bt-primary {
  border-top-color: #4b830d !important;
}

.theme-green .bt-secondary {
  border-top-color: #84bc49 !important;
}

.theme-green .bt-tertiary {
  border-top-color: #dcedc8 !important;
}

.theme-green .br-primary {
  border-right-color: #4b830d !important;
}

.theme-green .br-secondary {
  border-right-color: #84bc49 !important;
}

.theme-green .br-tertiary {
  border-right-color: #dcedc8 !important;
}

.theme-green .bb-primary {
  border-bottom-color: #4b830d !important;
}

.theme-green .bb-secondary {
  border-bottom-color: #84bc49 !important;
}

.theme-green .bb-tertiary {
  border-bottom-color: #dcedc8 !important;
}

.theme-green .bl-primary {
  border-left-color: #4b830d !important;
}

.theme-green .bl-secondary {
  border-left-color: #84bc49 !important;
}

.theme-green .bl-tertiary {
  border-left-color: #dcedc8 !important;
}

.theme-green .c-primary {
  color: #4b830d !important;
}

.theme-amber .bg-primary {
  background-color: #fbab18 !important;
}

.theme-amber .bg-secondary {
  background-color: #ffd54f !important;
}

.theme-amber .bg-tertiary {
  background-color: #ffecb3 !important;
}

.theme-amber .b-primary {
  border-color: #fbab18 !important;
}

.theme-amber .b-secondary {
  border-color: #ffd54f !important;
}

.theme-amber .b-tertiary {
  border-color: #ffecb3 !important;
}

.theme-amber .bt-primary {
  border-top-color: #fbab18 !important;
}

.theme-amber .bt-secondary {
  border-top-color: #ffd54f !important;
}

.theme-amber .bt-tertiary {
  border-top-color: #ffecb3 !important;
}

.theme-amber .br-primary {
  border-right-color: #fbab18 !important;
}

.theme-amber .br-secondary {
  border-right-color: #ffd54f !important;
}

.theme-amber .br-tertiary {
  border-right-color: #ffecb3 !important;
}

.theme-amber .bb-primary {
  border-bottom-color: #fbab18 !important;
}

.theme-amber .bb-secondary {
  border-bottom-color: #ffd54f !important;
}

.theme-amber .bb-tertiary {
  border-bottom-color: #ffecb3 !important;
}

.theme-amber .bl-primary {
  border-left-color: #fbab18 !important;
}

.theme-amber .bl-secondary {
  border-left-color: #ffd54f !important;
}

.theme-amber .bl-tertiary {
  border-left-color: #ffecb3 !important;
}

.theme-amber .c-primary {
  color: #fbab18 !important;
}

.fa-start {
  align-content: flex-start !important;
}

.fa-end {
  align-content: flex-end !important;
}

.fa-center {
  align-content: center !important;
}

.fa-between {
  align-content: space-between !important;
}

.fa-around {
  align-content: space-around !important;
}

.fa-stretch {
  align-content: stretch !important;
}

.fj-start {
  justify-content: flex-start !important;
}

.fj-end {
  justify-content: flex-end !important;
}

.fj-center {
  justify-content: center !important;
}

.fj-between {
  justify-content: space-between !important;
}

.fj-around {
  justify-content: space-around !important;
}

.fj-stretch {
  justify-content: space-evenly !important;
}

.fd-row {
  flex-direction: row !important;
}

.fd-row-reverse {
  flex-direction: row-reverse !important;
}

.fd-col {
  flex-direction: column !important;
}

.fd-col-reverse {
  flex-direction: column-reverse !important;
}

.blockquote, blockquote {
  margin-bottom: 1rem;
  font-size: 1.25rem;
}

.blockquote.with-quote p:before, .blockquote.with-quote p:after, blockquote.with-quote p:before, blockquote.with-quote p:after {
  content: '\201C';
}

.td-none {
  text-decoration: none !important;
}

.td-ul {
  text-decoration: underline !important;
}

.td-lt {
  text-decoration: line-through !important;
}

.td-none-hover:hover {
  text-decoration: none !important;
}

.td-ul-hover:hover {
  text-decoration: underline !important;
}

html,
body {
  opacity: 1;
  transition: opacity 0.6s;
}

html.no-js,
body.no-js {
  opacity: 0;
}

.demo body {
  font-family: "Open Sans", sans-serif;
  font-size: 17px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

.demo a {
  color: #005eaa;
  text-decoration: underline;
}

.demo a:hover {
  text-decoration: none;
}

.demo a h1, .demo a h2, .demo a h3, .demo a h4, .demo a h5, .demo a h6 {
  text-decoration: none;
}

.demo h1, .demo h2, .demo h3, .demo h4, .demo h5, .demo h6 {
  font-family: "Merriweather", serif;
  line-height: 1.3;
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
}

.demo h1 i:after, .demo h1 em:after, .demo h1 .italic:after, .demo h1 .text-italic:after, .demo h2 i:after, .demo h2 em:after, .demo h2 .italic:after, .demo h2 .text-italic:after, .demo h3 i:after, .demo h3 em:after, .demo h3 .italic:after, .demo h3 .text-italic:after, .demo h4 i:after, .demo h4 em:after, .demo h4 .italic:after, .demo h4 .text-italic:after, .demo h5 i:after, .demo h5 em:after, .demo h5 .italic:after, .demo h5 .text-italic:after, .demo h6 i:after, .demo h6 em:after, .demo h6 .italic:after, .demo h6 .text-italic:after {
  content: "";
}

.demo h1 a, .demo h2 a, .demo h3 a, .demo h4 a, .demo h5 a, .demo h6 a {
  text-decoration: none;
}

.demo blockquote.with-quote p:before, .demo blockquote.with-quote p:after {
  content: '\201C';
}

.demo .card h1, .demo .card h2, .demo .card h3, .demo .card h4, .demo .card h5, .demo .card h6 {
  font-family: 'Open Sans', sans-serif;
  line-height: 1.3;
  margin-top: 0;
  margin-bottom: 0;
}

.demo .merri {
  font-family: "Merriweather", serif;
}

.demo .open {
  font-family: "Open Sans", sans-serif;
}

.demo .italicize i:after, .demo .italicize em:after, .demo .italicize .italic:after, .demo .italicize .text-italic:after {
  content: "\00a0";
}

.demo h1, .demo .h1 {
  font-size: 3rem;
}

.demo h2, .demo .h2 {
  font-size: 2.5rem;
}

.demo h3, .demo .h3 {
  font-size: 2rem;
}

.demo h4, .demo .h4 {
  font-size: 1.5rem;
}

.demo h5, .demo .h5 {
  font-size: 1.2rem;
}

.demo h6, .demo .h6 {
  font-size: 1rem;
  font-weight: bold;
}

.bd-navbar {
  background-color: #075290;
}

.bd-navbar .navbar-nav .nav-link {
  color: #fff;
}

img[src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/252820/logo-medium-small.svg'] {
  display: none;
}

[class^='lh'] {
  border-top: 1px solid #f7f7f7;
  border-bottom: 1px solid #f7f7f7;
  background: #A1C5E7;
  padding-left: 5px;
}

pre[class*="language-"] {
  margin-top: 0;
  overflow: hidden;
}

code[class*="language-"] {
  display: inline-block;
  width: 90%;
}

code[class*="language-"], pre[class*="language-"] {
  white-space: pre-wrap;
  /* css-3 */
  white-space: -moz-pre-wrap;
  /* Mozilla, since 1999 */
  white-space: -pre-wrap;
  /* Opera 4-6 */
  white-space: -o-pre-wrap;
  /* Opera 7 */
  word-wrap: break-word;
  /* Internet Explorer 5.5+ */
}

pre.code-toolbar > .toolbar {
  opacity: 1 !important;
}

pre.code-toolbar > .toolbar a, pre.code-toolbar > .toolbar button, pre.code-toolbar > .toolbar span {
  color: #222;
  border-radius: 2;
  box-shadow: none;
  font-size: 1rem;
  border: 1px solid #BFBDBB;
  text-shadow: none;
  padding: 4px;
}

.migration pre[class*="language-"] {
  margin-bottom: 0;
}

.migration .bd-example {
  margin-top: 0;
  margin-bottom: 1rem;
}

.small-cube {
  width: 20px;
  height: 20px;
  outline: 1px solid #ccc;
  flex-direction: row;
  margin: .1rem;
}

.medium-cube {
  width: 75px;
  height: 75px;
  float: left;
  margin: .5rem;
  padding: 2px;
}

.large-cube {
  width: 175px;
  height: 175px;
  float: left;
  margin: .5rem;
  padding: 2px;
}

.margin-color {
  background-color: #F9CD9D;
  margin: 1rem;
  display: flex;
  flex-direction: column;
}

.box-color {
  box-shadow: inset 0 0 0 1rem #C4DDB8;
}

.box-color span {
  background: #A1C5E7;
}

.p-1.box-color {
  box-shadow: inset 0 0 0 1rem #C4DDB8;
}

.p-2.box-color {
  box-shadow: inset 0 0 0 2rem #C4DDB8;
}

.p-3.box-color {
  box-shadow: inset 0 0 0 3rem #C4DDB8;
}

.p-4.box-color {
  box-shadow: inset 0 0 0 4rem #C4DDB8;
}

.p-5.box-color {
  box-shadow: inset 0 0 0 5rem #C4DDB8;
}

/* svg */
.fill-none {
  fill: none;
}

.fill-gray {
  fill: #555;
}

.fill-linear-gradient {
  fill: url(#linear-gradient);
}

.fill-white {
  fill: #fff;
}

.fill-even-odd {
  fill-rule: evenodd;
}

.navbar-brand svg {
  outline: 1px solid red;
}

.bd-content > ol,
.bd-content > p,
.bd-content > ul,
.bd-lead {
  width: 100%;
  max-width: 100%;
}

.bd-search .form-control:focus {
  border-color: #075290;
  box-shadow: 0 0 0 3px rgba(7, 82, 144, 0.25);
}

.dot {
  display: inline-block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  font-size: 20px;
  color: #fff;
  line-height: 30px;
  text-align: center;
  background: #000;
  vertical-align: middle;
  margin-right: 10px;
}

.control {
  position: fixed;
  top: 0;
  right: 0;
  border: 1px solid #f0f0f0;
  width: 230px;
  height: 125px;
  z-index: 9999;
  background: #fff;
  padding: 4px;
  -webkit-box-shadow: -2px 1px 5px 0px rgba(50, 50, 50, 0.75);
  -moz-box-shadow: -2px 1px 5px 0px rgba(50, 50, 50, 0.75);
  box-shadow: -2px 1px 5px 0px rgba(50, 50, 50, 0.75);
}

iframe {
  height: 600px;
  width: 100%;
  outline: 1px solid #ccc;
  resize: horizontal;
  overflow: auto;
}

iframe.f-tall {
  height: 600px;
}

iframe.f-full {
  height: 100vh;
}

iframe.f-small {
  height: 300px;
}

.buttons {
  width: 412px;
}

.buttons a {
  border: 1px solid #ccc;
  color: #555;
  font-weight: bold;
  height: 50px;
  text-align: center;
  padding-top: 10px;
}

.buttons a:hover {
  text-decoration: none;
}

.icon-grid {
  display: flex;
  flex-wrap: wrap;
  border-right: 1px solid #f0f0f0;
}

.icon-grid > div p {
  font-size: 10px;
  margin-left: 4px;
  margin-bottom: 0;
}

.icon-grid img,
.icon-grid svg {
  width: 80px;
  height: 80px;
  margin: 4px;
  background: #f0f0f0;
  padding: 20px;
}

.ctrl {
  position: fixed;
  top: 280px;
  right: 0;
  width: 35px;
  padding: 12px 0;
  text-align: center;
  background: #fff;
  transition-duration: 0.3s;
  border-radius: 0 5px 5px 0;
  box-shadow: 3px 0 5px 0px rgba(133, 130, 133, 0.25);
}

.ctrl .mdi {
  color: #5a5a5a;
}

.ctrl a {
  font-size: 30px;
  color: #222;
}

.highlight {
  background: #f5f2f0;
}

.bd-example {
  border-color: #f5f2f0;
}

.aa-input-container {
  display: inline-block;
  position: relative;
  width: 100%;
}

.aa-input-search {
  width: 100%;
  padding: 12px 28px 12px 12px;
  border: 1px solid #e4e4e4;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.aa-input-search::-webkit-search-decoration,
.aa-input-search::-webkit-search-cancel-button,
.aa-input-search::-webkit-search-results-button,
.aa-input-search::-webkit-search-results-decoration {
  display: none;
}

.aa-input-icon {
  height: 16px;
  width: 16px;
  position: absolute;
  top: 50%;
  right: 16px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  fill: #e4e4e4;
  pointer-events: none;
}

.aa-dropdown-menu {
  background-color: #fff;
  border: 1px solid rgba(228, 228, 228, 0.6);
  min-width: 300px;
  margin-top: 10px;
  box-sizing: border-box;
}

.aa-suggestion {
  padding: 6px 12px;
  cursor: pointer;
}

.aa-suggestions-category {
  border-bottom: 1px solid rgba(228, 228, 228, 0.6);
  border-top: 1px solid rgba(228, 228, 228, 0.6);
  padding: 6px 12px;
}

.aa-dropdown-menu > div {
  display: inline-block;
  width: 50%;
  vertical-align: top;
}

.aa-empty {
  padding: 6px 12px;
}
