.theme-blue .app-container {
  color: #005eaa;
  background-color: #88c3ea;
}

.theme-purple .app-container {
  color: #712177;
  background-color: #b890bb;
}

.theme-brown .app-container {
  color: #705043;
  background-color: #ad907b;
}

.theme-teal .app-container {
  color: #00695c;
  background-color: #4ebaaa;
}

.theme-pink .app-container {
  color: #af4448;
  background-color: #e57373;
}

.theme-orange .app-container {
  color: #bb4d00;
  background-color: #ffad42;
}

.theme-slate .app-container {
  color: #29434e;
  background-color: #7e9ba5;
}

.theme-indigo .app-container {
  color: #26418f;
  background-color: #92a6dd;
}

.theme-cyan .app-container {
  color: #007c91;
  background-color: #65b0bd;
}

.theme-green .app-container {
  color: #4b830d;
  background-color: #84bc49;
}

.theme-amber .app-container {
  color: #fbab18;
  background-color: #ffd54f;
}

.app-container .button {
  cursor: pointer;
  border-radius: 5px;
  padding: 15px 32px;
  display: inline-block;
  transition: color 0.1s, border-color 0.1s, background-color 0.1s;
}

.theme-blue .app-container .button {
  border: #005eaa;
  color: #005eaa;
  border-color: #005eaa;
  background-color: #88c3ea;
  text-transform: #88c3ea;
}

.theme-blue .app-container .button:hover {
  color: #88c3ea;
  border-color: #88c3ea;
  background-color: #88c3ea;
}

.theme-purple .app-container .button {
  border: #712177;
  color: #712177;
  border-color: #712177;
  background-color: #b890bb;
  text-transform: #b890bb;
}

.theme-purple .app-container .button:hover {
  color: #b890bb;
  border-color: #b890bb;
  background-color: #b890bb;
}

.theme-brown .app-container .button {
  border: #705043;
  color: #705043;
  border-color: #705043;
  background-color: #ad907b;
  text-transform: #ad907b;
}

.theme-brown .app-container .button:hover {
  color: #ad907b;
  border-color: #ad907b;
  background-color: #ad907b;
}

.theme-teal .app-container .button {
  border: #00695c;
  color: #00695c;
  border-color: #00695c;
  background-color: #4ebaaa;
  text-transform: #4ebaaa;
}

.theme-teal .app-container .button:hover {
  color: #4ebaaa;
  border-color: #4ebaaa;
  background-color: #4ebaaa;
}

.theme-pink .app-container .button {
  border: #af4448;
  color: #af4448;
  border-color: #af4448;
  background-color: #e57373;
  text-transform: #e57373;
}

.theme-pink .app-container .button:hover {
  color: #e57373;
  border-color: #e57373;
  background-color: #e57373;
}

.theme-orange .app-container .button {
  border: #bb4d00;
  color: #bb4d00;
  border-color: #bb4d00;
  background-color: #ffad42;
  text-transform: #ffad42;
}

.theme-orange .app-container .button:hover {
  color: #ffad42;
  border-color: #ffad42;
  background-color: #ffad42;
}

.theme-slate .app-container .button {
  border: #29434e;
  color: #29434e;
  border-color: #29434e;
  background-color: #7e9ba5;
  text-transform: #7e9ba5;
}

.theme-slate .app-container .button:hover {
  color: #7e9ba5;
  border-color: #7e9ba5;
  background-color: #7e9ba5;
}

.theme-indigo .app-container .button {
  border: #26418f;
  color: #26418f;
  border-color: #26418f;
  background-color: #92a6dd;
  text-transform: #92a6dd;
}

.theme-indigo .app-container .button:hover {
  color: #92a6dd;
  border-color: #92a6dd;
  background-color: #92a6dd;
}

.theme-cyan .app-container .button {
  border: #007c91;
  color: #007c91;
  border-color: #007c91;
  background-color: #65b0bd;
  text-transform: #65b0bd;
}

.theme-cyan .app-container .button:hover {
  color: #65b0bd;
  border-color: #65b0bd;
  background-color: #65b0bd;
}

.theme-green .app-container .button {
  border: #4b830d;
  color: #4b830d;
  border-color: #4b830d;
  background-color: #84bc49;
  text-transform: #84bc49;
}

.theme-green .app-container .button:hover {
  color: #84bc49;
  border-color: #84bc49;
  background-color: #84bc49;
}

.theme-amber .app-container .button {
  border: #fbab18;
  color: #fbab18;
  border-color: #fbab18;
  background-color: #ffd54f;
  text-transform: #ffd54f;
}

.theme-amber .app-container .button:hover {
  color: #ffd54f;
  border-color: #ffd54f;
  background-color: #ffd54f;
}
