{% extends "templates/_gallery.njk" %} {% block main %}
<h1 class="bd-title" id="content">Borders</h1>
<p class="lead"></p>

<div class="row">
	<div class="col">
		<h2>Borders</h2>
		<div class="bt-0 border border-dark medium-cube">
			bt-0
		</div>
		<div class="bt-1 border border-dark medium-cube">
			bt-1
		</div>
		<div class="bt-2 border border-dark medium-cube">
			bt-2
		</div>
		<div class="bt-3 border border-dark medium-cube">
			bt-3
		</div>
		<div class="bt-4 border border-dark medium-cube">
			bt-4
		</div>
		<div class="bt-5 border border-dark medium-cube">
			bt-5
		</div>
	</div>
</div>
<div class="row">
	<div class="col">
		<div class="br-0 border border-dark medium-cube">
			br-0
		</div>
		<div class="br-1 border border-dark medium-cube">
			br-1
		</div>
		<div class="br-2 border border-dark medium-cube">
			br-2
		</div>
		<div class="br-3 border border-dark medium-cube">
			br-3
		</div>
		<div class="br-4 border border-dark medium-cube">
			br-4
		</div>
		<div class="br-5 border border-dark medium-cube">
			br-5
		</div>
	</div>
</div>
<div class="row">
	<div class="col">
		<div class="bb-0 border border-dark medium-cube">
			bb-0
		</div>
		<div class="bb-1 border border-dark medium-cube">
			bb-1
		</div>
		<div class="bb-2 border border-dark medium-cube">
			bb-2
		</div>
		<div class="bb-3 border border-dark medium-cube">
			bb-3
		</div>
		<div class="bb-4 border border-dark medium-cube">
			bb-4
		</div>
		<div class="bb-5 border border-dark medium-cube">
			bb-5
		</div>
	</div>
</div>
<div class="row">
	<div class="col">
		<div class="bl-0 border border-dark medium-cube">
			bl-0
		</div>
		<div class="bl-1 border border-dark medium-cube">
			bl-1
		</div>
		<div class="bl-2 border border-dark medium-cube">
			bl-2
		</div>
		<div class="bl-3 border border-dark medium-cube">
			bl-3
		</div>
		<div class="bl-4 border border-dark medium-cube">
			bl-4
		</div>
		<div class="bl-5 border border-dark medium-cube">
			bl-5
		</div>
	</div>
</div>
<div class="row">
	<div class="col">
		<h2>Styles</h2>
		<div class="border-dark medium-cube bs-dotted">
			bs-dotted
		</div>
		<div class="border-dark medium-cube bs-dashed">
			bs-dashed
		</div>
		<div class="border-dark medium-cube bs-solid">
			bs-solid
		</div>
		<div class="medium-cube bs-double">
			bs-double
		</div>
		<div class="medium-cube bs-groove">
			bs-groove
		</div>
		<div class="medium-cube bs-ridge">
			bs-ridge
		</div>
	</div>
</div>
<div class="row">
	<div class="col">
		<div class="medium-cube bs-inset">
			bs-inset
		</div>
		<div class="medium-cube bs-outset">
			bs-outset
		</div>
		<div class="medium-cube bs-none">
			bs-none
		</div>
		<div class="border border-dark medium-cube bs-hidden">
			bs-hidden
		</div>
	</div>
</div>
<div class="row">
	<div class="col">
		<h2>Radius</h2>
		<div class="border border-dark medium-cube r-xsmall">
			r-xsmall
		</div>
		<div class="border border-dark medium-cube r-small">
			r-small
		</div>
		<div class="border border-dark medium-cube r-medium">
			r-medium
		</div>
		<div class="border border-dark medium-cube r-large">
			r-large
		</div>
		<div class="border border-dark medium-cube r-xlarge">
			r-xlarge
		</div>
		<div class="border border-dark medium-cube r-none">
			r-none
		</div>
	</div>
</div>
<div class="row">
	<div class="col">
		<div class="border border-dark medium-cube r-tr">
			r-tr
		</div>
		<div class="border border-dark medium-cube r-tl">
			r-tl
		</div>
		<div class="border border-dark medium-cube r-br">
			r-br
		</div>
		<div class="border border-dark medium-cube r-bl">
			r-bl
		</div>
		<div class="border border-dark medium-cube r-top-1">
			r-top-1
		</div>
		<div class="border border-dark medium-cube r-top-2">
			r-top-2
		</div>
	</div>
</div>
<div class="row">
	<div class="col">
		<div class="border border-dark medium-cube r-top-3">
			r-top-3
		</div>
		<div class="border border-dark medium-cube r-top-4">
			r-top-4
		</div>
		<div class="border border-dark medium-cube r-bottom-1">
			r-right-1
		</div>
		<div class="border border-dark medium-cube r-right-2">
			r-right-2
		</div>
		<div class="border border-dark medium-cube r-right-3">
			r-right-3
		</div>
		<div class="border border-dark medium-cube r-right-4">
			r-right-4
		</div>
	</div>
</div>
<div class="row">
	<div class="col">
		<div class="border border-dark medium-cube r-bottom-1">
			r-bottom-1
		</div>
		<div class="border border-dark medium-cube r-bottom-2">
			r-bottom-2
		</div>
		<div class="border border-dark medium-cube r-bottom-3">
			r-bottom-3
		</div>
		<div class="border border-dark medium-cube r-bottom-4">
			r-bottom-4
		</div>
		<div class="border border-dark medium-cube r-left-1">
			r-left-1
		</div>
		<div class="border border-dark medium-cube r-left-2">
			r-left-2
		</div>
	</div>
</div>
<div class="row">
	<div class="col">
		<div class="border border-dark medium-cube r-left-3">
			r-left-3
		</div>
		<div class="border border-dark medium-cube r-left-4">
			r-left-4
		</div>
	</div>
</div>
<div class="row">
	<div class="col">
		<h2>Colors</h2>
		<div class="border medium-cube b-primary">
			b-primary
		</div>
		<div class="border medium-cube b-secondary">
			b-secondary
		</div>
		<div class="border medium-cube b-tertiary">
			b-tertiary
		</div>
		<div class="theme-purple">
			<div class="border medium-cube b-primary">
				b-primary
			</div>
			<div class="border medium-cube b-secondary">
				b-secondary
			</div>
			<div class="border medium-cube b-tertiary">
				b-tertiary
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col">
		<div class="theme-teal">
			<div class="border medium-cube b-primary">
				b-primary
			</div>
			<div class="border medium-cube b-secondary">
				b-secondary
			</div>
			<div class="border medium-cube b-tertiary">
				b-tertiary
			</div>
		</div>
		<div class="theme-brown">
			<div class="border medium-cube b-primary">
				b-primary
			</div>
			<div class="border medium-cube b-secondary">
				b-secondary
			</div>
			<div class="border medium-cube b-tertiary">
				b-tertiary
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col">
		<div class="theme-pink">
			<div class="bt-5 border border-dark medium-cube bt-primary b-tertiary fs075">
				bt-primary b-tertiary
			</div>
			<div class="br-4 border border-dark medium-cube br-primary fs075">
				br-primary
			</div>
			<div class="bb-5 bt-3 border border-dark medium-cube bb-tertiary bt-secondary fs075">
				bb-tertiary bt-secondary
			</div>
		</div>
	</div>
</div>
{% endblock %}