{% extends "templates/_gallery.njk" %} {% block main %}
<h1 class="bd-title" id="content">Cards</h1>
<p class="bd-lead"><span class="mark mark-yellow">Extending Bootstrap <a href="https://getbootstrap.com/docs/4.0/components/card/">Cards</a>.</span></p>


<div class="bd-example">
<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/252820/768x480-4.jfif" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>
</div>



{% endblock %}