{% extends "templates/_gallery.njk" %} {% block main %}
<h1 class="bd-title" id="content">Column Order</h1>
<p class="lead">Easily re-order columns</p>

<h2>Standard</h2>
<div class="bd-example">
<div class="row">
	<div class="col border border-dark medium-cube">1</div>
	<div class="col border border-dark medium-cube">2</div>
	<div class="col border border-dark medium-cube">3</div>
	<div class="col border border-dark medium-cube">4</div>
	<div class="col border border-dark medium-cube">5</div>
</div>
</div>
<h2>Reverse Order</h2>
<div class="bd-example">
<div class="row">
	<div class="col border border-dark order-5 medium-cube">1 (order-5)</div>
	<div class="col border border-dark order-4 medium-cube">2 (order-4)</div>
	<div class="col border border-dark order-3 medium-cube">3 (order-3)</div>
	<div class="col border border-dark order-2 medium-cube">4 (order-2)</div>
	<div class="col border border-dark order-1 medium-cube">5 (order-1)</div>
</div>
</div>
<h2>Re-ordered</h2>
<div class="bd-example">
<div class="row">
	<div class="col border border-dark order-3 medium-cube">1 (order-3)</div>
	<div class="col border border-dark order-1 medium-cube">2 (order-1)</div>
	<div class="col border border-dark order-5 medium-cube">3 (order-5)</div>
	<div class="col border border-dark order-2 medium-cube">4 (order-2)</div>
	<div class="col border border-dark order-4 medium-cube">5 (order-4)</div>
</div>
</div>

<h2>Responsive</h2>
<div class="bd-example">
<div class="row">
	<div class="col border border-dark order-sm-5 order-md-4 order-lg-3 order-xl-2 order-xxl-5 medium-cube">1</div>
	<div class="col border border-dark order-sm-1 order-md-5 order-lg-4 order-xl-3 order-xxl-4 medium-cube">2</div>
	<div class="col border border-dark order-sm-2 order-md-1 order-lg-5 order-xl-4 order-xxl-3 medium-cube">3</div>
	<div class="col border border-dark order-sm-3 order-md-2 order-lg-1 order-xl-5 order-xxl-2 medium-cube">4</div>
	<div class="col border border-dark order-sm-4 order-md-3 order-lg-2 order-xl-1 order-xxl-1 medium-cube">5</div>
</div>
</div>
{% endblock %}