{% extends "templates/_gallery.njk" %} {% block main %}
<h1 class="bd-title" id="content">Cursors</h1>
<p class="lead">A variety of cursors for different states.</p>

<div class="bd-example">
<div class="cur-pointer border border-dark medium-cube">
	cur-pointer
</div>
<div class="cur-auto border border-dark medium-cube">
	cur-auto
</div>
<div class="cur-help border border-dark medium-cube">
	cur-help
</div>
<div class="cur-wait border border-dark medium-cube">
	cur-wait
</div>
<div class="cur-not-allowed border border-dark medium-cube">
	cur-not-allowed
</div>
<div class="cur-zoom-in border border-dark medium-cube">
	cur-zoom-in
</div>
<div class="cur-zoom-out border border-dark medium-cube">
	cur-zoom-out
</div>
</div>
{% endblock %}