{% extends "templates/_gallery.njk" %} 

{% block main %}
<h1 class="bd-title" id="content">Font Sizes</h1>
<p class="lead"></p>

			<p class="fs4">fs4</p>
			<p class="fs35">fs35</p>
			<p class="fs3">fs3</p>
			<p class="fs25">fs25</p>
			<p class="fs2">fs2</p>
			<p class="fs15">fs15</p>
			<p class="fs14">fs14</p>
			<p class="fs13">fs13</p>
			<p class="fs12">fs12</p>
			<p class="fs11">fs11</p>
			<p class="fs1">fs1</p>
			<p class="fs0875">fs0875</p>
			<p class="fs075">fs075</p>
			<p class="fs05">fs05</p>	       
{% endblock %}