{% extends "templates/_gallery.njk" %} {% block main %}
<h1 class="bd-title" id="content">Font Sizes</h1>
<p class="lead"></p>

<div class="demo">
	<p class="fs4">fs4 (4rem)</p>
	<p class="fs35">fs35 (3.5rem)</p>
	<p class="fs3">fs3 (3rem)</p>
	<p class="fs25">fs25 (2.5rem)</p>
	<p class="fs2">fs2 (2rem)</p>
	<p class="fs15">fs15 (1.5rem)</p>
	<p class="fs14">fs14 (1.4rem)</p>
	<p class="fs13">fs13 (1.3rem)</p>
	<p class="fs12">fs12 (1.2rem)</p>
	<p class="fs11">fs11 (1.1rem)</p>
	<p class="fs1">fs1 (1rem - default)</p>
	<p class="fs08">fs08 (0.8rem)</p>
	<p class="fs07">fs07 (0.7rem)</p>
</div>
{% endblock %}