{% extends "templates/_gallery.njk" %} {% block main %}
<h1 class="bd-title" id="content">Footer</h1>
<p class="bd-lead"><span class="mark mark-yellow">Footer</span></p>


<div class="bd-example">
    <div class="container-fluid bg-gray-d2 pt-3 pb-3 mt-3 text-white">
        <footer role="contentinfo" aria-label="Footer">
            <div class="container">
                <div class="row">
                    <div class="col-md-5 pl-md-5">
                        <strong>CONTACT CDC-INFO</strong>
                        <div class="row mt-2">
                            <div class="col-2 pt-1"><i class="material-icons" style="font-size: 24px;">phone</i></div>
                            <div class="col" style="margin-left: -20px;">
                                <span>Have questions? We have answers.</span>
                                <span>1-800-CDC-INFO (800-232-4636)</span>
                                <span>TTY: 888-232-6348</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-2 pt-1"><i class="material-icons" style="font-size: 24px;">email</i></div>
                            <div class="col" style="margin-left: -20px;">
                                <a href="#" style="color: #fff; margin-top: 5px;display: inline-block">Email CDC-INFO</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 -offset-md-1 mt-3 mt-md-0">
                        <strong>CDC INFORMATION</strong>
                        <div class="row mt-2">
                            <div class="col">
                                <ul>
                                    <li>About CDC
                                        <li>Jobs
                                            <li>Funding
                                                <li>Policies
                                                    <li>File Viewers &amp; Players
                                </ul>
                            </div>
                            <div class="col">
                                <ul>
                                    <li>Privacy
                                        <li>FOIA
                                            <li>No Fear Act
                                                <li>OIG
                                                    <li>Nondiscrimination
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 mt-2 mt-md-0 connect-icons text-md-right pr-5">
                        <strong>CONNECT WITH CDC</strong><br>
                        <ul class="list-inline mt-3">
                            <li><img src="https://usability.rocks/assets/icons/social/white/fb.svg"></li>
                            <li><img src="https://usability.rocks/assets/icons/social/white/twitter.svg"></li>
                            <li><img src="https://usability.rocks/assets/icons/social/white/youtube.svg"></li>
                            <li><img src="https://usability.rocks/assets/icons/social/white/IG.svg"></li>
                        </ul><br class="d-none d-md-block">
                        <ul class="list-inline mt-2">
                            <li><img src="https://usability.rocks/assets/icons/social/white/syndication.svg"></li>
                            <li><img src="https://usability.rocks/assets/icons/social/white/CDC-tv.svg"></li>
                            <li><img src="https://usability.rocks/assets/icons/social/white/rss.svg"></li>
                            <li><img src="https://usability.rocks/assets/icons/social/white/email.svg"></li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    <div class="container-fluid bg-gray-l2 pt-2 pb-5 mb-3">
        <footer role="contentinfo" aria-label="Footer">
            <div class="container">
                <div class="row">
                    <div class="col-5 pl-md-5 d-none d-md-block">
                        U.S. Department of Health &amp; Human Services
                    </div>
                    <div class="col-5">
                        HHS.gov
                    </div>
                    <div class="col-4 col-md-2 -offset-md-1">
                        USA.gov
                    </div>
                </div>
            </div>
        </footer>
    </div>

</div>
{% endblock %}