{% extends "templates/_gallery.njk" %} {% block main %}
<h1 class="bd-title" id="content">Footer</h1>
<p class="bd-lead"><span class="mark mark-yellow">Footer</span></p>

<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">

<symbol id="phone" viewBox="0 0 24 24">
        <path fill="#fff" d="M6.62,10.79C8.06,13.62 10.38,15.94 13.21,17.38L15.41,15.18C15.69,14.9 16.08,14.82 16.43,14.93C17.55,15.3 18.75,15.5 20,15.5A1,1 0 0,1 21,16.5V20A1,1 0 0,1 20,21A17,17 0 0,1 3,4A1,1 0 0,1 4,3H7.5A1,1 0 0,1 8.5,4C8.5,5.25 8.7,6.45 9.07,7.57C9.18,7.92 9.1,8.31 8.82,8.59L6.62,10.79Z" />
</symbol>

<symbol id="email" viewBox="0 0 24 24">
        <path fill="#fff" d="M20,8L12,13L4,8V6L12,11L20,6M20,4H4C2.89,4 2,4.89 2,6V18A2,2 0 0,0 4,20H20A2,2 0 0,0 22,18V6C22,4.89 21.1,4 20,4Z" />
</symbol>

</svg>

<style>
    .icon {
        width: 32px;
        height: 32px;
    }
</style>

<div class="bd-example">
    <div class="container-fluid bg-gray-d2 pt-3 pb-3 mt-3 text-white">
        <footer role="contentinfo" aria-label="Footer">
            <div class="container">
                <div class="row">
                    <div class="col-md-5 pl-md-5">
                        <strong>CONTACT CDC-INFO</strong>
                        <div class="row mt-2">
                            <div class="col-2 pt-1"><svg class="icon"><use xlink:href="#phone" /></svg></div>
                            <div class="col" style="margin-left: -20px;">
                                <span>Have questions? We have answers.</span>
                                <span>1-800-CDC-INFO (800-232-4636)</span>
                                <span>TTY: 888-232-6348</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-2 pt-1"><svg class="icon"><use xlink:href="#email" /></svg></div>
                            <div class="col" style="margin-left: -20px;">
                                <a href="#" style="color: #fff; margin-top: 5px;display: inline-block">Email CDC-INFO</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 -offset-md-1 mt-3 mt-md-0">
                        <strong>CDC INFORMATION</strong>
                        <div class="row mt-2">
                            <div class="col">
                                <ul>
                                    <li>About CDC
                                        <li>Jobs
                                            <li>Funding
                                                <li>Policies
                                                    <li>File Viewers &amp; Players
                                </ul>
                            </div>
                            <div class="col">
                                <ul>
                                    <li>Privacy
                                        <li>FOIA
                                            <li>No Fear Act
                                                <li>OIG
                                                    <li>Nondiscrimination
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 mt-2 mt-md-0 connect-icons text-md-right pr-5">
                        <strong>CONNECT WITH CDC</strong><br>
                        <ul class="list-inline mt-3">
                            <li><img src="https://usability.rocks/assets/icons/social/white/fb.svg"></li>
                            <li><img src="https://usability.rocks/assets/icons/social/white/twitter.svg"></li>
                            <li><img src="https://usability.rocks/assets/icons/social/white/youtube.svg"></li>
                            <li><img src="https://usability.rocks/assets/icons/social/white/IG.svg"></li>
                        </ul><br class="d-none d-md-block">
                        <ul class="list-inline mt-2">
                            <li><img src="https://usability.rocks/assets/icons/social/white/syndication.svg"></li>
                            <li><img src="https://usability.rocks/assets/icons/social/white/CDC-tv.svg"></li>
                            <li><img src="https://usability.rocks/assets/icons/social/white/rss.svg"></li>
                            <li><img src="https://usability.rocks/assets/icons/social/white/email.svg"></li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    <div class="container-fluid bg-gray-l2 pt-2 pb-5 mb-3">
        <footer role="contentinfo" aria-label="Footer">
            <div class="container">
                <div class="row">
                    <div class="col-5 pl-md-5 d-none d-md-block">
                        U.S. Department of Health &amp; Human Services
                    </div>
                    <div class="col-5">
                        HHS.gov
                    </div>
                    <div class="col-4 col-md-2 -offset-md-1">
                        USA.gov
                    </div>
                </div>
            </div>
        </footer>
    </div>

</div>
{% endblock %}