{% extends "templates/_gallery.njk" %} 

{% block main %}
<h1 class="bd-title" id="content">Frameworks</h1>
<p class="bd-lead"><span class="mark mark-yellow">Lead Text</span></p>
<h2>Template Package (4.x)</h2>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique reiciendis amet itaque, modi architecto velit rerum laboriosam ipsum omnis blanditiis atque expedita labore nihil? Aliquid earum hic aliquam quos laudantium.</p>
<h2>Template Package (3.x)</h2>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique reiciendis amet itaque, modi architecto velit rerum laboriosam ipsum omnis blanditiis atque expedita labore nihil? Aliquid earum hic aliquam quos laudantium.</p>
<h2>Widget Framework</h2>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique reiciendis amet itaque, modi architecto velit rerum laboriosam ipsum omnis blanditiis atque expedita labore nihil? Aliquid earum hic aliquam quos laudantium.</p>
<h2>Mobile Framework</h2>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique reiciendis amet itaque, modi architecto velit rerum laboriosam ipsum omnis blanditiis atque expedita labore nihil? Aliquid earum hic aliquam quos laudantium.</p>
<h2>Forms Framework</h2>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique reiciendis amet itaque, modi architecto velit rerum laboriosam ipsum omnis blanditiis atque expedita labore nihil? Aliquid earum hic aliquam quos laudantium.</p>
{% endblock %}