{% extends "templates/_gallery.njk" %} {% block main %}

<h1 class="bd-title" id="content">Icons</h1>
<p class="bd-lead">The Template Package 4.x framework includes icons to represent a variety of health topics and communication activities. The icon set also includes standard icons to represent links to social media sites and indicate links to files and external sites.
	All icons are managed as SVG files so they do not lose quality when changing size. SVGs also provide flexibility for color changes and allow for easier updates.</p>
<link rel='stylesheet prefetch' href='//cdn.materialdesignicons.com/2.0.46/css/materialdesignicons.min.css'>
<div class="ctrl">
	<a href="#" onclick="iconsort('standard')"><i class="mdi mdi-sort-alphabetical"></i></a>
	<a href="#" onclick="iconsize('plus')"><i class="mdi mdi-arrow-expand-all"></i></a>
	<a href="#" onclick="iconsize('minus')"><i class="mdi mdi-arrow-collapse-all"></i></a>
	<a href="#" onclick="iconsize('reset')"><i class="mdi mdi-backup-restore"></i></a>
</div>


{#
<p><a href="#" onclick="makeSVG();this.style.display='none'">Make SVG</a></p> #}

<input type="text" id="fg" class="d-none" />
<input type="text" id="bg" class="d-none" />

<div id="standard" class="container icon-grid">
	<!-- 	img[src=http://usability.rocks/assets/$$$.svg]*114 -->
	<!-- 	<h3>Standard</h3> -->
	<div><img src="http://usability.rocks/assets/001.svg" alt="presentation_01"></div>
	<div><img src="http://usability.rocks/assets/002.svg" alt="chart_01"></div>
	<div><img src="http://usability.rocks/assets/003.svg" alt="stack_01"></div>
	<div><img src="http://usability.rocks/assets/004.svg" alt="stack_02"></div>
	<div><img src="http://usability.rocks/assets/005.svg" alt="stack_03"></div>
	<div><img src="http://usability.rocks/assets/006.svg" alt="stack_04"></div>
	<div><img src="http://usability.rocks/assets/007.svg" alt="cloud_01"></div>
	<div><img src="http://usability.rocks/assets/008.svg" alt="bookmark_01"></div>
	<div><img src="http://usability.rocks/assets/009.svg" alt="pin_01"></div>
	<div><img src="http://usability.rocks/assets/010.svg" alt="clipboard_01"></div>
	<div><img src="http://usability.rocks/assets/011.svg" alt="paper_01"></div>
	<div><img src="http://usability.rocks/assets/012.svg" alt="medical_01"></div>
	<div><img src="http://usability.rocks/assets/013.svg" alt="calendar_01"></div>
	<div><img src="http://usability.rocks/assets/014.svg" alt="pin_02"></div>
	<div><img src="http://usability.rocks/assets/015.svg" alt="globe_01"></div>
	<div><img src="http://usability.rocks/assets/016.svg" alt="globe_02"></div>
	<div><img src="http://usability.rocks/assets/017.svg" alt="edit_01"></div>
	<div><img src="http://usability.rocks/assets/018.svg" alt="badge_01"></div>
	<div><img src="http://usability.rocks/assets/019.svg" alt="download_01"></div>
	<div><img src="http://usability.rocks/assets/020.svg" alt="photo_01"></div>
	<div><img src="http://usability.rocks/assets/021.svg" alt="book_01"></div>
	<div><img src="http://usability.rocks/assets/022.svg" alt="book_02"></div>
	<div><img src="http://usability.rocks/assets/023.svg" alt="paper_02"></div>
	<div><img src="http://usability.rocks/assets/024.svg" alt="link_01"></div>
	<div><img src="http://usability.rocks/assets/025.svg" alt="question_01"></div>
	<div><img src="http://usability.rocks/assets/026.svg" alt="search_01"></div>
	<div><img src="http://usability.rocks/assets/027.svg" alt="building_01"></div>
	<div><img src="http://usability.rocks/assets/028.svg" alt="home_01"></div>
	<div><img src="http://usability.rocks/assets/029.svg" alt="alert_01"></div>
	<div><img src="http://usability.rocks/assets/030.svg" alt="alert_02"></div>
	<div><img src="http://usability.rocks/assets/031.svg" alt="scale_01"></div>
	<div><img src="http://usability.rocks/assets/032.svg" alt="tools_01"></div>
	<div><img src="http://usability.rocks/assets/033.svg" alt="hospital_01"></div>
	<div><img src="http://usability.rocks/assets/034.svg" alt="money_01"></div>
	<div><img src="http://usability.rocks/assets/035.svg" alt="clock_01"></div>
	<div><img src="http://usability.rocks/assets/036.svg" alt="no_01"></div>
	<div><img src="http://usability.rocks/assets/037.svg" alt="lab_01"></div>
	<div><img src="http://usability.rocks/assets/038.svg" alt="hazard_01"></div>
	<div><img src="http://usability.rocks/assets/039.svg" alt="hazard_02"></div>
	<div><img src="http://usability.rocks/assets/040.svg" alt="signal_01"></div>
	<div><img src="http://usability.rocks/assets/041.svg" alt="phone_01"></div>
	<div><img src="http://usability.rocks/assets/042.svg" alt="lab_02"></div>
	<div><img src="http://usability.rocks/assets/043.svg" alt="search_02"></div>
	<div><img src="http://usability.rocks/assets/044.svg" alt="lab_03"></div>
	<div><img src="http://usability.rocks/assets/045.svg" alt="chart_02"></div>
	<div><img src="http://usability.rocks/assets/046.svg" alt="lab_04"></div>
	<div><img src="http://usability.rocks/assets/047.svg" alt="lab_05"></div>
	<div><img src="http://usability.rocks/assets/048.svg" alt="medical_02"></div>
	<div><img src="http://usability.rocks/assets/049.svg" alt="medical_03"></div>
	<div><img src="http://usability.rocks/assets/050.svg" alt="weather_01"></div>
	<div><img src="http://usability.rocks/assets/051.svg" alt="weather_02"></div>
	<div><img src="http://usability.rocks/assets/052.svg" alt="weather_03"></div>
	<div><img src="http://usability.rocks/assets/053.svg" alt="weather_04"></div>
	<div><img src="http://usability.rocks/assets/054.svg" alt="weather_05"></div>
	<div><img src="http://usability.rocks/assets/055.svg" alt="weather_06"></div>
	<div><img src="http://usability.rocks/assets/056.svg" alt="weather_07"></div>
	<div><img src="http://usability.rocks/assets/057.svg" alt="weather_08"></div>
	<div><img src="http://usability.rocks/assets/058.svg" alt="weather_09"></div>
	<div><img src="http://usability.rocks/assets/059.svg" alt="weather_10"></div>
	<div><img src="http://usability.rocks/assets/060.svg" alt="weather_11"></div>
	<div><img src="http://usability.rocks/assets/061.svg" alt="map_03"></div>
	<div><img src="http://usability.rocks/assets/062.svg" alt="food_01"></div>
	<div><img src="http://usability.rocks/assets/063.svg" alt="hazard_03"></div>
	<div><img src="http://usability.rocks/assets/064.svg" alt="idea_01"></div>
	<div><img src="http://usability.rocks/assets/065.svg" alt="clothes_01"></div>
	<div><img src="http://usability.rocks/assets/066.svg" alt="book_03"></div>
	<div><img src="http://usability.rocks/assets/067.svg" alt="hazard_04"></div>
	<div><img src="http://usability.rocks/assets/068.svg" alt="hazard_05"></div>
	<div><img src="http://usability.rocks/assets/069.svg" alt="food_02"></div>
	<div><img src="http://usability.rocks/assets/070.svg" alt="food_03"></div>
	<div><img src="http://usability.rocks/assets/071.svg" alt="food_04"></div>
	<div><img src="http://usability.rocks/assets/072.svg" alt="bag_01"></div>
	<div><img src="http://usability.rocks/assets/073.svg" alt="device_02"></div>
	<div><img src="http://usability.rocks/assets/074.svg" alt="allergy_01"></div>
	<div><img src="http://usability.rocks/assets/075.svg" alt="medical_04"></div>
	<div><img src="http://usability.rocks/assets/076.svg" alt="email_01"></div>
	<div><img src="http://usability.rocks/assets/077.svg" alt="badge_02"></div>
	<div><img src="http://usability.rocks/assets/078.svg" alt="medical_05"></div>
	<div><img src="http://usability.rocks/assets/079.svg" alt="people_01"></div>
	<div><img src="http://usability.rocks/assets/080.svg" alt="alert_03"></div>
	<div><img src="http://usability.rocks/assets/081.svg" alt="search_03"></div>
	<div><img src="http://usability.rocks/assets/082.svg" alt="building_02"></div>
	<div><img src="http://usability.rocks/assets/083.svg" alt="people_02"></div>
	<div><img src="http://usability.rocks/assets/084.svg" alt="device_03"></div>
	<div><img src="http://usability.rocks/assets/085.svg" alt="data_01"></div>
	<div><img src="http://usability.rocks/assets/086.svg" alt="device_04"></div>
	<div><img src="http://usability.rocks/assets/087.svg" alt="badge_03"></div>
	<div><img src="http://usability.rocks/assets/088.svg" alt="paper_03"></div>
	<div><img src="http://usability.rocks/assets/089.svg" alt="building_03"></div>
	<div><img src="http://usability.rocks/assets/090.svg" alt="sports_01"></div>
	<div><img src="http://usability.rocks/assets/091.svg" alt="people_03"></div>
	<div><img src="http://usability.rocks/assets/092.svg" alt="scale_02"></div>
	<div><img src="http://usability.rocks/assets/093.svg" alt="direction_01"></div>
	<div><img src="http://usability.rocks/assets/094.svg" alt="people_04"></div>
	<div><img src="http://usability.rocks/assets/095.svg" alt="people_05"></div>
	<div><img src="http://usability.rocks/assets/096.svg" alt="medical_06"></div>
	<div><img src="http://usability.rocks/assets/097.svg" alt="people_06"></div>
	<div><img src="http://usability.rocks/assets/098.svg" alt="travel_01"></div>
	<div><img src="http://usability.rocks/assets/099.svg" alt="people_07"></div>
	<div><img src="http://usability.rocks/assets/100.svg" alt="people_08"></div>
	<div><img src="http://usability.rocks/assets/101.svg" alt="people_09"></div>
	<div><img src="http://usability.rocks/assets/102.svg" alt="grid_01"></div>
	<div><img src="http://usability.rocks/assets/103.svg" alt="device_05"></div>
	<div><img src="http://usability.rocks/assets/104.svg" alt="chart_03"></div>
	<div><img src="http://usability.rocks/assets/105.svg" alt="video_01"></div>
	<div><img src="http://usability.rocks/assets/106.svg" alt="chat_01"></div>
	<div><img src="http://usability.rocks/assets/107.svg" alt="photo_02"></div>
	<div><img src="http://usability.rocks/assets/108.svg" alt="tools_02"></div>
	<div><img src="http://usability.rocks/assets/109.svg" alt="tools_03"></div>
	<div><img src="http://usability.rocks/assets/110.svg" alt="audio_01"></div>
	<div><img src="http://usability.rocks/assets/111.svg" alt="medical_07"></div>
	<div><img src="http://usability.rocks/assets/112.svg" alt="building_04"></div>
	<div><img src="http://usability.rocks/assets/113.svg" alt="food_05"></div>
	<div><img src="http://usability.rocks/assets/114.svg" alt="animal_05"></div>
	<div><img src="http://usability.rocks/assets/Media_003.svg" class="media" alt="tools_04"></div>
	<div><img src="http://usability.rocks/assets/Media_004.svg" class="media" alt="email_02"></div>
	<div><img src="http://usability.rocks/assets/Media_007.svg" class="media" alt="audio_02"></div>
	<div><img src="http://usability.rocks/assets/Media_008.svg" class="media" alt="alert_04"></div>
	<div><img src="http://usability.rocks/assets/Media_009.svg" class="media" alt="alert_05"></div>
	<div><img src="http://usability.rocks/assets/Media_010.svg" class="media" alt="audio_03"></div>
	<div><img src="http://usability.rocks/assets/Media_011.svg" class="media" alt="audio_04"></div>
	<div><img src="http://usability.rocks/assets/Media_012.svg" class="media" alt="chat_02"></div>
	<div><img src="http://usability.rocks/assets/Media_014.svg" class="media" alt="chat_03"></div>
	<div><img src="http://usability.rocks/assets/Media_015.svg" class="media" alt="chat_04"></div>
	<div><img src="http://usability.rocks/assets/Media_016.svg" class="media" alt="audio_05"></div>
	<div><img src="http://usability.rocks/assets/Media_019.svg" class="media" alt="book_04"></div>
	<div><img src="http://usability.rocks/assets/Media_021.svg" class="media" alt="video_02"></div>
	<div><img src="http://usability.rocks/assets/Media_022.svg" class="media" alt="photo_03"></div>
	<div><img src="http://usability.rocks/assets/Media_023.svg" class="media" alt="photo_04"></div>
	<div><img src="http://usability.rocks/assets/Media_024.svg" class="media" alt="video_03"></div>
	<div><img src="http://usability.rocks/assets/Media_025.svg" class="media" alt="video_04"></div>
	<div><img src="http://usability.rocks/assets/Media_026.svg" class="media" alt="photo_05"></div>
	<div><img src="http://usability.rocks/assets/social_fb.svg" alt="social_facebook"></div>
	<div><img src="http://usability.rocks/assets/social_flickr.svg" alt="social_flickr"></div>
	<div><img src="http://usability.rocks/assets/social_googleplus.svg" alt="social_google"></div>
	<div><img src="http://usability.rocks/assets/govD.svg" alt="social_govd"></div>
	<div><img src="http://usability.rocks/assets/social_insta.svg" alt="social_instagram"></div>
	<div><img src="http://usability.rocks/assets/social_linkedin.svg" alt="social_linkedin"></div>
	<div><img src="http://usability.rocks/assets/social_pinterest.svg" alt="social_pinterest"></div>
	<div><img src="http://usability.rocks/assets/social_podcast.svg" alt="social_podcast"></div>
	<div><img src="http://usability.rocks/assets/social_rss.svg" alt="social_rss"></div>
	<div><img src="http://usability.rocks/assets/social_syndication.svg" alt="social_syndicate"></div>
	<div><img src="http://usability.rocks/assets/social_twitter.svg" alt="social_twitter"></div>
	<div><img src="http://usability.rocks/assets/social_youtube.svg" alt="social_youtube"></div>
	<div><img src="http://usability.rocks/assets/social_CDC-tv.svg" alt="social_cdctv"></div>
	<div><img src="http://usability.rocks/assets/excel.svg" alt="file_excel"></div>
	<div><img src="http://usability.rocks/assets/pdf.svg" alt="file_pdf"></div>
	<div><img src="http://usability.rocks/assets/zip.svg" alt="file_zip"></div>
	<div><img src="http://usability.rocks/assets/word.svg" alt="file_word"></div>
	<div><img src="http://usability.rocks/assets/txt.svg" alt="file_txt"></div>
	<div><img src="http://usability.rocks/assets/ppt.svg" alt="file_ppt"></div>
	<div><img src="http://usability.rocks/assets/media.svg" alt="file_media"></div>
	<div><img src="http://usability.rocks/assets/epub.svg" alt="file_epub"></div>
	<div><img src="http://usability.rocks/assets/Media_028.svg" class="auto" alt="file_external"></div>
</div>

{% endblock %}