{% extends "templates/_gallery.njk" %} 

{% block main %}
<h1 class="bd-title" id="content">Layouts</h1>
<p class="bd-lead"><span class="mark mark-yellow">Lead Text</span></p>
<h2>Other Stuff</h2>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique reiciendis amet itaque, modi architecto velit rerum laboriosam ipsum omnis blanditiis atque expedita labore nihil? Aliquid earum hic aliquam quos laudantium.</p>
<h3>More Stuff</h3>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique reiciendis amet itaque, modi architecto velit rerum laboriosam ipsum omnis blanditiis atque expedita labore nihil? Aliquid earum hic aliquam quos laudantium.</p>
<h4>And Other Stuff</h4>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique reiciendis amet itaque, modi architecto velit rerum laboriosam ipsum omnis blanditiis atque expedita labore nihil? Aliquid earum hic aliquam quos laudantium.</p>

{% endblock %}