{% extends "templates/_gallery.njk" %} {% block main %}
<h1 class="bd-title" id="content">Lists</h1>
<p class="bd-lead">The Template Package 4.x framework includes styles for unordered and ordered lists with one or more columns. There are also additional style options. Any type of list can be used within regular page content or within <a href="containers.html">Containers</a>.</p>

<p></p>

<h2>Bulleted Lists</h2>
<div class="row buttons ml-0 mt-5">
	<a href="412px" class="rounded-top-left col">XS</a>
	<a href="576px" class="col">SM</a>
	<a href="768px" class="col">MD</a>
	<a href="992px" class="col">LG</a>
	<a href="1200px" class="col">XL</a>
</div>
<iframe frameborder="0" class="border-top-0 f-small" src="demos/bulleted-lists.html"></iframe>

<h2>Ordered Lists</h2>
<div class="row buttons ml-0 mt-5">
	<a href="412px" class="rounded-top-left col">XS</a>
	<a href="576px" class="col">SM</a>
	<a href="768px" class="col">MD</a>
	<a href="992px" class="col">LG</a>
	<a href="1200px" class="col">XL</a>
</div>
<iframe frameborder="0" class="border-top-0 f-small" src="demos/ordered-lists.html"></iframe>

<h2>Block Lists</h2>
<div class="row buttons ml-0 mt-5">
	<a href="412px" class="rounded-top-left col">XS</a>
	<a href="576px" class="col">SM</a>
	<a href="768px" class="col">MD</a>
	<a href="992px" class="col">LG</a>
	<a href="1200px" class="col">XL</a>
</div>
<iframe frameborder="0" class="border-top-0 f-small" src="demos/block-lists.html"></iframe>

{% endblock %}