{% extends "templates/_gallery.njk" %} {% block main %}
<h1 class="bd-title" id="content">Lists</h1>
<p class="bd-lead">The Template Package 4.x framework includes styles for unordered and ordered lists with one or more columns. There are also additional style options. Any type of list can be used within regular page content or within <a href="containers.html">Containers</a>.</p>

<p>Lists can be displayed in single or multi-column layouts. The markup for multi-column lists can either be done using CSS list classes, or using Bootstrap columns. There are <a href="#demos">demos</a> for each list type with different layouts.
<p>List classes are named using the format <code>.cc-{columns}</code> for xs and <code>.cc-{breakpoint}-{columns}</code> for sm, md, lg, and xl.</p>

<h6>Where columns is one of:</h6>
<ul>
	<li>1 - One Column</li>
	<li>2 - Two Columns</li>
	<li>3 - Three Columns</li>
	<li>4 - Four Columns</li>
</ul>

<h2>Standard List</h2>
<div class="bd-example">
	<ul>
		<li>List Item 1</li>
		<li>List Item 2</li>
		<li>List Item 3</li>
	</ul>
</div>

<h2>Multi-column List</h2>
<div class="bd-example">
	<ol class="cc-2 lsp-in">
		<li>List Item 1</li>
		<li>List Item 2</li>
		<li>List Item 3</li>
		<li>List Item 4</li>
		<li>List Item 5</li>
		<li>List Item 6</li>
	</ol>
</div>

<h2>Responsive Multi-column List</h2>
<div class="bd-example">
	<ul class="cc-md-2 lsp-in">
		<li>List Item 1</li>
		<li>List Item 2</li>
		<li>List Item 3</li>
		<li>List Item 4</li>
		<li>List Item 5</li>
		<li>List Item 6</li>
	</ul>
</div>

<h2>Demos</h2>

<h3>Bulleted Lists</h3>
<div class="row buttons ml-0 mt-5">
	<a href="412px" class="rounded-top-left col">XS</a>
	<a href="576px" class="col">SM</a>
	<a href="768px" class="col">MD</a>
	<a href="992px" class="col">LG</a>
	<a href="1200px" class="col">XL</a>
	<a href="1440px" class="col">XXL</a>
</div>
<iframe frameborder="0" class="border-top-0 f-small" src="demos/bulleted-lists.html"></iframe>

<h3>Ordered Lists</h3>
<div class="row buttons ml-0 mt-5">
	<a href="412px" class="rounded-top-left col">XS</a>
	<a href="576px" class="col">SM</a>
	<a href="768px" class="col">MD</a>
	<a href="992px" class="col">LG</a>
	<a href="1200px" class="col">XL</a>
	<a href="1440px" class="col">XXL</a>
</div>
<iframe frameborder="0" class="border-top-0 f-small" src="demos/ordered-lists.html"></iframe>

<h3>Block Lists</h3>
<div class="row buttons ml-0 mt-5">
	<a href="412px" class="rounded-top-left col">XS</a>
	<a href="576px" class="col">SM</a>
	<a href="768px" class="col">MD</a>
	<a href="992px" class="col">LG</a>
	<a href="1200px" class="col">XL</a>
	<a href="1440px" class="col">XXL</a>
</div>
<iframe frameborder="0" class="border-top-0 f-small" src="demos/block-lists.html"></iframe>

{% endblock %}