{% extends "templates/_gallery.njk" %} {% block main %}
<h1 class="bd-title" id="content">Margins &amp; Padding</h1>
<p class="lead">Margins and Padding are also responsive, using .m-XX-# or .p-XX-#</p>

<div class="bd-example">
<div class="row">
	<div class="cols mr-3">
		<div class="margin-color">
			<span class="box-color m-1 p-1"><span>m-1 p-1</span></span>
		</div>
	</div>
	<div class="cols mr-3">
		<div class="margin-color">
			<span class="box-color m-1 p-2"><span>m-1 p-2</span></span>
		</div>
	</div>
	<div class="cols mr-3">
		<div class="margin-color">
			<span class="box-color m-1 p-3"><span>m-1 p-3</span></span>
		</div>
	</div>
	<div class="cols mr-3">
		<div class="margin-color">
			<span class="box-color m-1 p-4"><span>m-1 p-4</span></span>
		</div>
	</div>
	<div class="cols mr-3">
		<div class="margin-color">
			<span class="box-color m-1 p-5"><span>m-1 p-5</span></span>
		</div>
	</div>
</div>
</div>
<div class="bd-example">
<div class="row">
	<div class="cols mr-3">
		<div class="margin-color">
			<span class="box-color m-2 p-1"><span>m-2 p-1</span></span>
		</div>
	</div>
	<div class="cols mr-3">
		<div class="margin-color">
			<span class="box-color m-2 p-2"><span>m-2 p-2</span></span>
		</div>
	</div>
	<div class="cols mr-3">
		<div class="margin-color">
			<span class="box-color m-2 p-3"><span>m-2 p-3</span></span>
		</div>
	</div>
	<div class="cols mr-3">
		<div class="margin-color">
			<span class="box-color m-2 p-4"><span>m-2 p-4</span></span>
		</div>
	</div>
	<div class="cols mr-3">
		<div class="margin-color">
			<span class="box-color m-2 p-5"><span>m-2 p-5</span></span>
		</div>
	</div>
</div>
</div>
<div class="bd-example">
<div class="row">
	<div class="cols mr-3">
		<div class="margin-color">
			<span class="box-color m-3 p-1"><span>m-3 p-1</span></span>
		</div>
	</div>
	<div class="cols mr-3">
		<div class="margin-color">
			<span class="box-color m-3 p-2"><span>m-3 p-2</span></span>
		</div>
	</div>
	<div class="cols mr-3">
		<div class="margin-color">
			<span class="box-color m-3 p-3"><span>m-3 p-3</span></span>
		</div>
	</div>
	<div class="cols mr-3">
		<div class="margin-color">
			<span class="box-color m-3 p-4"><span>m-3 p-4</span></span>
		</div>
	</div>
	<div class="cols mr-3">
		<div class="margin-color">
			<span class="box-color m-3 p-5"><span>m-3 p-5</span></span>
		</div>
	</div>
</div>
</div>
<div class="bd-example">
<div class="row">
	<div class="cols mr-3">
		<div class="margin-color">
			<span class="box-color m-4 p-1"><span>m-4 p-1</span></span>
		</div>
	</div>
	<div class="cols mr-3">
		<div class="margin-color">
			<span class="box-color m-4 p-2"><span>m-4 p-2</span></span>
		</div>
	</div>
	<div class="cols mr-3">
		<div class="margin-color">
			<span class="box-color m-4 p-3"><span>m-4 p-3</span></span>
		</div>
	</div>
	<div class="cols mr-3">
		<div class="margin-color">
			<span class="box-color m-4 p-4"><span>m-4 p-4</span></span>
		</div>
	</div>
	<div class="cols mr-3">
		<div class="margin-color">
			<span class="box-color m-4 p-5"><span>m-4 p-5</span></span>
		</div>
	</div>
</div>
</div>
<div class="bd-example">
<div class="row">
	<div class="cols mr-3">
		<div class="margin-color">
			<span class="box-color m-5 p-1"><span>m-5 p-1</span></span>
		</div>
	</div>
	<div class="cols mr-3">
		<div class="margin-color">
			<span class="box-color m-5 p-2"><span>m-5 p-2</span></span>
		</div>
	</div>
	<div class="cols mr-3">
		<div class="margin-color">
			<span class="box-color m-5 p-3"><span>m-5 p-3</span></span>
		</div>
	</div>
	<div class="cols mr-3">
		<div class="margin-color">
			<span class="box-color m-5 p-4"><span>m-5 p-4</span></span>
		</div>
	</div>
	<div class="cols mr-3">
		<div class="margin-color">
			<span class="box-color m-5 p-5"><span>m-5 p-5</span></span>
		</div>
	</div>
</div>
</div>

{% endblock %}