{% extends "templates/_gallery.njk" %} {% block main %}
<h1 class="bd-title" id="content">Lists</h1>
<p class="bd-lead"><span class="mark mark-yellow">Lead Text</span></p>
<style>
{# .migration .col:nth-child(2) { 
	display: none;
} #}
.list-group-item img {
	width: 30px;
	margin-right: 10px;
}

.largerimageforthese.left .list-group-item img {
	width: 70px;
	float: left;
}

.largerimageforthese.right .list-group-item img {
	width: 70px;
	float: right;
}
</style>
<h2>Bullet List</h2>
<h2>Ordered List</h2>
<h2>Block List</h2>
<section class="migration">
    <div class="row">
        <div class="col">
            <h5>Template Package 3: <a href="https://www.cdc.gov/wcms/3.0/CDCWP/flex/block.html">Block List</a></h5>
<textarea>
<ul class="list-block">
    <li>
        <div><span class="sprite-24-apps"><!-- --></span><a href="#1">List Item 1</a></div>
    </li>
    <li>
        <div><span class="sprite-24-gadgets"><!-- --></span><a href="#2">List Item 2</a></div>
    </li>
    <li class="listLastChildBorderBottom">
        <div><span class="sprite-24-ecards"><!-- --></span><a href="#3">List Item 3</a></div>
    </li>
</ul>
</textarea>
        </div>
        <div class="col">
            <h5>List Group</h5>
<textarea>        
<ul class="list-group">
    <li class="list-group-item">
        <a href="#1"><img src="assets/icons/standard/028.svg" alt="home_01">Home</a>
    </li>
    <li class="list-group-item">
        <a href="#2"><img src="assets/icons/standard/013.svg" alt="calendar_01">Calendar</a>
    </li>
    <li class="list-group-item">
        <a href="#"><img src="assets/icons/standard/061.svg" alt="map_03">Maps</a>
    </li>
</ul>        
</textarea>
        </div>
    </div>
</section>

{% endblock %}