{% extends "./templates/_gallery.njk" %} {% block main %}

<link rel="stylesheet" href="css/app.css">

<div class="theme-blue">

	<h1 class="bd-title" id="content">Welcome to Sass Land</h1>
	<p>Testing styles &amp; theming</p>

	<h3>Buttons - theme wrapped</h3>
	<div class="theme-blue">
		<button type="button" class="btn btn-primary">Primary</button>
		<button type="button" class="btn btn-secondary">Secondary</button>
		<a class="btn btn-primary" href="#" role="button">Link</a>
		<h4>Form Buttons</h4>
		<button class="btn btn-primary" type="submit">Button</button>
		<input class="btn btn-primary" type="button" value="Input">
		<input class="btn btn-primary" type="submit" value="Submit">
		<input class="btn btn-primary" type="reset" value="Reset">
	</div>


	<h3>Table</h3>
	<table class="table">
		<thead class="thead-dark">
			<tr>
				<th scope="col">#</th>
				<th scope="col">First</th>
				<th scope="col">Last</th>
				<th scope="col">Handle</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<th scope="row">1</th>
				<td>Mark</td>
				<td>Otto</td>
				<td>@mdo</td>
			</tr>
			<tr>
				<th scope="row">2</th>
				<td>Jacob</td>
				<td>Thornton</td>
				<td>@fat</td>
			</tr>
			<tr>
				<th scope="row">3</th>
				<td>Larry</td>
				<td>the Bird</td>
				<td>@twitter</td>
			</tr>
		</tbody>
	</table>

	<h3>Themed Card</h3>
	<div class="card w-33">
		<img class="card-img-top" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/252820/768x480-4.jfif" alt="Card image cap">
		<div class="card-body">
			<h5 class="card-title">Card title</h5>
			<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
			<a href="#" class="btn btn-primary">Go somewhere</a>
		</div>
	</div>

</div><!-- theme-blue -->

{% endblock %}