{% extends "templates/_gallery.njk" %} {% block main %}
<h1 class="bd-title" id="content">Text Styles</h1>
<p class="bd-lead">The Template Package 4.x framework provides a variety of Text Styles that can be used to emphasize specific kinds of text, draw users' attention, or alert them to important information.</p>
<h2>Italics</h2>
<div class="bd-example">
	<p>Lorem ipsum dolor <i>sit</i> amet consectetur <em>adipisicing elit</em>. Similique <span class="text-italic">reiciendis amet</span> itaque, <b><em>modi architecto</em></b> velit rerum laboriosam ipsum omnis blanditiis atque expedita labore nihil? Aliquid earum hic aliquam quos laudantium.</p>
</div>
<h3>Guidance for Italics</h3>
<h4>Use to:</h4>
<ul>
	<li>Denote scientific terms</li>
	<li>Publication titles</li>
</ul>
<h4>Avoid:</h4>
<ul>
	<li>Use in links, Headings, or Titles</li>
</ul>
<h4>Options:</h4>
<ul>
	<li>To improve the readabilty of italicized text used in the Body, and additional space may be automatically inserted between the italicized character and the next character by using the <code class="highlighter-rouge">.pad-italics</code> class on a parent
		element.
	</li>
</ul>

<div class="bd-example">
	<p class="pad-italics">Lorem ipsum dolor, sit amet consectetur adipisicing <em>elit</em>. Obcaecati tempore <i>deserunt</i> dolor reiciendis vero assumenda.</p>
</div>

<h2>Text Colors</h2>
<p>Red text is available to alert users to critical information.</p>
<h3>Text Color Examples</h3>
<div class="bd-example">
	<p><b class="c-red">Lorem ipsum dolor sit amet consectetur adipisicing elit.</b> Possimus deleniti molestiae labore quo hic totam similique ipsum asperiores velit adipisci iusto distinctio, explicabo maiores nam magnam, amet tempore nemo facere.</p>
	<p>Unde placeat <span class="c-red">accusantium aperiam quia aliquid</span> culpa asperiores consequatur similique laudantium esse voluptate dolores id natus, nobis a quae harum illum vel reprehenderit assumenda. Optio deserunt voluptate placeat nobis libero!</p>
</div>

<h3>Guidance for Red Text</h3>
<h4>Use to:</h4>
<ul>
	<li>Emphasize critical or time-sensitive content (i.e. outbreaks, vaccination guidance, critical document changes)</li>
	<li>Indicate error messages</li>
	<li>Denote required fields or field errors in a form</li>
	<li>Alert users to outages or global system issues</li>
</ul>
<h4>Avoid:</h4>
<ul>
	<li>Placement on a background color other than white</li>
</ul>
<h4>Do not:</h4>
<ul>
	<li>Use for links, Headings, or Titles</li>
</ul>
<h4>Try instead:</h4>
<ul>
	<li>Use <a href="containers.html">Containers</a> and their flexible style options to emphasize new information, dates, page changes, or document changes</li>
</ul>
<h3>Text Color Specification</h3>
<table>
	<thead>
		<tr class="bg-gray-lighter">
			<th>Color</th>
			<th>Class</th>
			<th>Hex / RGB</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td class="bg-red"></td>
			<td>.c-red</td>
			<td>#8f0000<br>rgb(143,0,0)</td>
		</tr>
	</tbody>
</table>


<h2>Blockquotes</h2>
<p>Blockquotes are used to emphasize and reference quotes from an individual in an article or another source. They typically have a unique style as a way to highlight a specific point or face in an article and are displayed withing paragraphs of a content
	page.
</p>
<h3>Blockquote Examples</h3>
<div class="row buttons ml-0 mt-5">
	<a href="412px" class="rounded-top-left col">XS</a>
	<a href="576px" class="col">SM</a>
	<a href="768px" class="col">MD</a>
	<a href="992px" class="col">LG</a>
	<a href="1200px" class="col">XL</a>
	<a href="1440px" class="col">XXL</a>
</div>
<iframe frameborder="0" class="border-top-0" src="demos/blockquotes.html"></iframe>
<h3>Blockquote Specifications</h3>
<ul>
	<li><b>Quote Text:</b> Open Sans, <a href="typography.html#body-specifications">Block Quote</a>, black</li>
	<li><b>Source Text:</b> always preceded by a hyphen, Open Sans, <a href="typography.html#body-specifications">Small Text</a>, gray_darker</li>
	<li><b>Padding:</b> p-3 (top, right, bottom, left)</li>
	<li><b>Margin:</b> m-3 (bottom only)</li>
	<li><b>Borders:</b>
		<ul>
			<li><b>Accent:</b> br-1, bl-3, b-gray-l3</li>
			<li><b>Full:</b> bt-1, br-1, bb-1, bl-3, b-gray-l3 for all</li>
		</ul>
	</li>
	<li><b>Options</b>
		<ul>
			<li>Different background and border styles can be achieved using <a href="containers.html">Containers</a></li>
			<li>Quotes may be added automatically to the Quote Text using the <code>.with-quote</code> class on a <code>blockquote</code> element, or an element styled with <code>.blockquote</code></li>
		</ul>
	</li>
</ul>
<h2>Footnote Indicators</h2>
<p>Footnote Indicators are used to connect specific information to references or supplemental information that are usually displayed toward the bottom of the content. They can be set as links to allow users to jump down to the references or unlinked.</p>
<div class="bd-example">
	<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique reiciendis amet itaque, modi architecto velit rerum laboriosam ipsum omnis blanditiis atque expedita labore nihil? Aliquid earum hic aliquam quos laudantium. <sup><a href="#">[ 2 ]</a></sup></p>
	<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique reiciendis amet itaque, modi architecto velit rerum laboriosam ipsum omnis blanditiis atque expedita labore nihil? Aliquid earum hic aliquam quos laudantium. <sup>[ 2 ]</sup></p>
	<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique reiciendis amet itaque, modi architecto velit rerum laboriosam ipsum omnis blanditiis atque expedita labore nihil? Aliquid earum hic aliquam quos laudantium. <sup>[ § ]</sup></p>
</div>
<h3>Footnote Indicator Specifications</h3>
<ul>
	<li><strong>Linked Footnote Indicator:</strong> Open Sans, <a href="https://usability.rocks/typography.html#body-specifications">Superscript</a>, <a href="https://usability.rocks/colors.html">blue-primary</a>, displayed within brackets [ ] and spaces around the number or symbol</li>
	<li><strong>Unlinked Footnote Indicator:</strong> Open Sans, <a href="https://usability.rocks/typography.html#body-specifications">Superscript</a>, #000, displayed within brackets [ ] and spaces around the number or symbol</li>
</ul>
{% endblock %}