{% extends "templates/_gallery.njk" %} {% block main %}
<h1 class="bd-title" id="content">Viewport Width/Height</h1>
<p class="lead"></p>
<div class="row">
	<div class="col">
	<div class="bd-example">
	<div class="fs075 border border-dark vw5">
		vw5
	</div>
	<div class="fs075 border border-dark vw10">
		vw10
	</div>
	<div class="fs075 border border-dark vw15">
		vw15
	</div>
	<div class="fs075 border border-dark vw20">
		vw20
	</div>
	<div class="fs075 border border-dark vw25">
		vw25
	</div>
	<div class="fs075 border border-dark vw30">
		vw30
	</div>
	<div class="fs075 border border-dark vw35">
		vw35
	</div>
	<div class="fs075 border border-dark vw40">
		vw40
	</div>
	<div class="fs075 border border-dark vw45">
		vw45
	</div>
	<div class="fs075 border border-dark vw50">
		vw50
	</div>
	<div class="fs075 border border-dark vw55">
		vw55
	</div>
	<div class="fs075 border border-dark vw60">
		vw60
	</div>
	<div class="fs075 border border-dark vw65">
		vw65
	</div>
	<div class="fs075 border border-dark vw70">
		vw70
	</div>
	<div class="fs075 border border-dark vw75">
		vw75
	</div>
	<div class="fs075 border border-dark vw80">
		vw45
	</div>
	<div class="fs075 border border-dark vw85">
		vw85
	</div>
	<div class="fs075 border border-dark vw90">
		vw90
	</div>
	<div class="fs075 border border-dark vw95">
		vw95
	</div>
	<div class="fs075 border border-dark vw100">
		vw100
	</div>
	</div>
	</div>
</div>
<div class="row">
<div class="col">
	<div class="bd-example">
	<div class="fs075 border border-dark w-5 float-left mr-3 vh5">
		vh5
	</div>
	<div class="fs075 border border-dark w-5 float-left mr-3 vh10">
		vh10
	</div>
	<div class="fs075 border border-dark w-5 float-left mr-3 vh15">
		vh15
	</div>
	<div class="fs075 border border-dark w-5 float-left mr-3 vh20">
		vh20
	</div>
	<div class="fs075 border border-dark w-5 float-left mr-3 vh25">
		vh25
	</div>
	<div class="fs075 border border-dark w-5 float-left mr-3 vh30">
		vh30
	</div>
	<div class="fs075 border border-dark w-5 float-left mr-3 vh35">
		vh35
	</div>
	<div class="fs075 border border-dark w-5 float-left mr-3 vh40">
		vh40
	</div>
	<div class="fs075 border border-dark w-5 float-left mr-3 vh45">
		vh45
	</div>
	<div class="fs075 border border-dark w-5 float-left mr-3 vh50">
		vh50
	</div>
	<div class="fs075 border border-dark w-5 float-left mr-3 vh55">
		vh55
	</div>
	<div class="fs075 border border-dark w-5 float-left mr-3 vh60">
		vh60
	</div>
	<div class="fs075 border border-dark w-5 float-left mr-3 vh65">
		vh65
	</div>
	<div class="fs075 border border-dark w-5 float-left mr-3 vh70">
		vh70
	</div>
	<div class="fs075 border border-dark w-5 float-left mr-3 vh75">
		vh75
	</div>
	<div class="fs075 border border-dark w-5 float-left mr-3 vh80">
		vh45
	</div>
	<div class="fs075 border border-dark w-5 float-left mr-3 vh85">
		vh85
	</div>
	<div class="fs075 border border-dark w-5 float-left mr-3 vh90">
		vh90
	</div>
	<div class="fs075 border border-dark w-5 float-left mr-3 vh95">
		vh95
	</div>
	<div class="fs075 border border-dark w-5 float-left mr-3 vh100">
		vh100
	</div>
	</div>
	</div>
</div>

{% endblock %}