{% extends "templates/_gallery.njk" %}

{% block main %}
<h1 class="bd-title" id="content">Width/Height</h1>
<p class="lead"></p>
<h2>REM based widths</h2>
<div class="row">
	<div class="col">
		<div class="border border-dark medium-cube w-1">
			w-1
		</div>
		<div class="border border-dark medium-cube w-2">
			w-2
		</div>
		<div class="border border-dark medium-cube w-3">
			w-3
		</div>
		<div class="border border-dark medium-cube w-4">
			w-4
		</div>
		<div class="border border-dark medium-cube w-5">
			w-5
		</div>
		<div class="border border-dark medium-cube w-6">
			w-6
		</div>
		<div class="border border-dark medium-cube w-7">
			w-7
		</div>
		<div class="border border-dark medium-cube w-8">
			w-8
		</div>
		<div class="border border-dark medium-cube w-9">
			w-9
		</div>
		<div class="border border-dark medium-cube w-10">
			w-10
		</div>
		<div class="border border-dark medium-cube w-12">
			w-12
		</div>
		<div class="border border-dark medium-cube w-16">
			w-16
		</div>
		<div class="border border-dark medium-cube w-24">
			w-24
		</div>
		<div class="border border-dark medium-cube w-32">
			w-32
		</div>
		<div class="border border-dark medium-cube w-48">
			w-48
		</div>
		<div class="border border-dark medium-cube w-64">
			w-64
		</div>
		<div class="border border-dark medium-cube w-96">
			w-96
		</div>
		<div class="border border-dark medium-cube w-128">
			w-128
		</div>
	</div>
</div>
<div class="row">
	<div class="col">
		<h2>Percentage based widths</h2>
		<div class="border border-dark medium-cube w-25">
			w-25
		</div>
		<div class="border border-dark medium-cube w-33">
			w-33
		</div>
		<div class="border border-dark medium-cube w-50">
			w-50
		</div>
		<div class="border border-dark medium-cube w-66">
			w-66
		</div>
		<div class="border border-dark medium-cube w-75">
			w-75
		</div>
		<div class="border border-dark medium-cube w-100">
			w-100
		</div>
	</div>
</div>
<div class="row">
	<div class="col">
		<h2>REM based heights</h2>
		<div class="border border-dark medium-cube h-1">
			h-1
		</div>
		<div class="border border-dark medium-cube h-2">
			h-2
		</div>
		<div class="border border-dark medium-cube h-3">
			h-3
		</div>
		<div class="border border-dark medium-cube h-4">
			h-4
		</div>
		<div class="border border-dark medium-cube h-5">
			h-5
		</div>
		<div class="border border-dark medium-cube h-6">
			h-6
		</div>
		<div class="border border-dark medium-cube h-7">
			h-7
		</div>
		<div class="border border-dark medium-cube h-8">
			h-8
		</div>
		<div class="border border-dark medium-cube h-9">
			h-9
		</div>
		<div class="border border-dark medium-cube h-10">
			h-10
		</div>
		<div class="border border-dark medium-cube h-12">
			h-12
		</div>
		<div class="border border-dark medium-cube h-16">
			h-16
		</div>
		<div class="border border-dark medium-cube h-24">
			h-24
		</div>
		<div class="border border-dark medium-cube h-32">
			h-32
		</div>
		<div class="border border-dark medium-cube h-48">
			h-48
		</div>
		<div class="border border-dark medium-cube h-64">
			h-64
		</div>
		<div class="border border-dark medium-cube h-96">
			h-96
		</div>
		<div class="border border-dark medium-cube h-128">
			h-128
		</div>
	</div>
</div>
<div class="row">
	<div class="col">
		<h2>Percentage based heights</h2>
		<div class="border border-dark medium-cube h-25">
			h-25
		</div>
		<div class="border border-dark medium-cube h-33">
			h-33
		</div>
		<div class="border border-dark medium-cube h-50">
			h-50
		</div>
		<div class="border border-dark medium-cube h-66">
			h-66
		</div>
		<div class="border border-dark medium-cube h-75">
			h-75
		</div>
		<div class="border border-dark medium-cube h-100">
			h-100
		</div>
	</div>
</div>

{% endblock %}