footer {
    font-size: 13px;

    span {
        display: block;
    }

    ul {
        padding-left: 0px;
        list-style-type: none;

        &.list-inline {
            display: inline-block;
            margin-bottom: 3px;
            li {
                float: left;
                margin-left: 10px;

                img {
                    width: 24px;
                }

                &.rounded-circle {
                    background: #fff;
                    padding: 7px;
                    margin-right: 7px;
                }
            }
        }
    }
}