/* links */
a {
    color: $primary;
    text-decoration: underline;
    &:hover {
        text-decoration: none;
    }
    h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
        text-decoration: none;
    }
}

a, [tabindex], input, radio, select, checkbox, textarea, label, fieldset, legend, datalist, output, .focus {
	&:focus {
    	outline: 1px dashed $black;
	}
	&.c-white:focus {
		outline: 1px dashed $white;
	}
}

// text decoration
.td-none {
	text-decoration: none!important;

	a {
		text-decoration: none!important;
	}
}
.td-ul { text-decoration: underline!important; }
.td-lt { text-decoration: line-through!important; }

.td-none-hover {
	&:hover {
		text-decoration: none!important;
	}
}

.td-ul-hover {
	&:hover {
		text-decoration: underline!important;
	}
}