// This are controls all attributes that are Theme-able
// -- this function loops over the themes, and prepends '.theme-[color] '
@include themify($themes) {
    //buttons
    .btn-primary {
        background-color: themed('primary');
        border-color:themed('primary');
        color:themed('primaryTxt');
        &:hover {background-color: darken(themed('primary') ,5%);}
        &:focus, &:active {background-color: themed('primary'); border-color:themed('primary');}
    }
    .btn-secondary {
        background-color: themed('secondary');
        border-color:themed('secondary');
        color:themed('secondaryTxt');
        &:hover {background-color: darken(themed('secondary') ,5%);}
        &:focus, &:active {background-color: themed('secondary'); border-color:themed('secondary');}
    }
    .btn-tertiary {
        background-color: themed('tertiary');
        border-color:themed('tertiary');
        color:themed('secondaryTxt');
        &:hover {background-color: darken(themed('tertiary') ,5%);}
        &:focus, &:active {background-color: themed('tertiary'); border-color:themed('tertiary');}
    }

    // tables
    .table .thead-dark th {
        background-color: themed('primary');
        border-color: themed('primary');
    }
    .table-dark {background-color: themed('primary');}
    .table-dark th, .table-dark td, .table-dark thead th {border-color: lighten(themed('primary'), 5%);}

    // Icons
    svg .fill-p {fill:themed('primary');}

}

// Utility Theme classes for direct application of Theme colors
@include themifyDirect($themes) {
    &.bg-p {background-color: themed('primary')!important;}
    &.border-p {border-color:themed('primary')!important;}
    &.color-p {color:themed('primary')!important;}

    &.bg-s {background-color: themed('secondary')!important;}
    &.border-s {border-color:themed('secondary')!important;}
    &.color-s {color:themed('secondary')!important;}
    
    &.bg-t {background-color: themed('tertiary')!important;}
    &.border-t {border-color:themed('tertiary')!important;}
    &.color-t {color:themed('tertiary')!important;}
}