// This are controls all attributes that are Theme-able
// -- this function loops over the themes, and prepends '.theme-[color] '
@include themify($themes) {
    //buttons
    .btn-primary {
        background-color: themed('primary');
        border-color:themed('primary');
        color:themed('primaryTxt');
        &:hover {background-color: darken(themed('primary') ,5%);}
    }
    .btn-secondary {
        background-color: themed('secondary');
        border-color:themed('secondary');
        color:themed('secondaryTxt');
        &:hover {background-color: darken(themed('secondary') ,5%);}
    }
    .btn-tertiary {
        background-color: themed('tertiary');
        border-color:themed('tertiary');
        color:themed('secondaryTxt');
        &:hover {background-color: darken(themed('tertiary') ,5%);}
    }

    // tables
    .table .thead-dark th {
        background-color: themed('primary');
        border-color: themed('primary');
    }
    .table-dark {background-color: themed('primary');}
    .table-dark th, .table-dark td, .table-dark thead th {border-color: lighten(themed('primary'), 5%);}

    // Icons
    svg .fill-p {fill:themed('primary');}

}
