$themes: (
    blue: (
        primary: #005eaa,
        secondary: #88c3ea,
        tertiary: #c0e9ff
    ),
    purple: (
        primary: #712177,
        secondary: #b890bb,
        tertiary: #e3d3e4
    ),
    brown: (
        primary: #705043,
        secondary: #ad907b,
        tertiary: #d7ccc8
    ),
    teal: (
        primary: #00695c,
        secondary: #4ebaaa,
        tertiary: #ceece7
    ),
    pink: (
        primary: #af4448,
        secondary: #e57373,
        tertiary: #ffc2c2
    ),
    orange: (
        primary: #bb4d00,
        secondary: #ffad42,
        tertiary: #ffe97d
    ),
    slate: (
        primary: #29434e,
        secondary: #7e9ba5,
        tertiary: #b6c6d2
    ),
    indigo: (
        primary: #26418f,
        secondary: #92a6dd,
        tertiary: #dee8ff
    ),
    cyan: (
        primary: #007c91,
        secondary: #65b0bd,
        tertiary: #cce5e9
    ),
    green: (
        primary: #4b830d,
        secondary: #84bc49,
        tertiary: #dcedc8
    ),
    amber: (
        primary: #fbab18,
        secondary: #ffd54f,
        tertiary: #ffecb3
    )
);
