@import 'variables';
@import 'utility';


html,
body {
	opacity: 1;
	transition: opacity 0.6s;
	&.no-js {
		opacity: 0;
	}
}

// demo's placed in the page
.demo, .bd-example {
	body {
		font-family: "Open Sans", sans-serif;
		font-size: 17px;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		-webkit-text-size-adjust: 100%;
		-ms-text-size-adjust: 100%;
	}

	a {
		color: $primary;
		text-decoration: underline;
		&:hover {
			text-decoration: none;
		}
		h1, h2, h3, h4, h5, h6 {
			text-decoration: none;
		}
	}

	h1, h2, h3, h4, h5, h6 {
		font-family: "Merriweather", serif;
		line-height: 1.3;
		margin-top: 1.5rem;
		margin-bottom: 0.5rem;
		// dont add a space after headings italics
		i:after, em:after, .italic:after, .text-italic:after {
			content: "";
		}
		a {
			text-decoration: none;
		}
	}

	blockquote {
		&.with-quote {
			p:before, p:after {
				content: '\201C';
			}
		}
	}

	.card {
		// headings in cards should not be Merriweather
		h1, h2, h3, h4, h5, h6 {
			font-family: 'Open Sans', sans-serif;
			line-height: 1.3;
			margin-top: 0;
			margin-bottom: 0;
		}
	}

	.merri {
		font-family: "Merriweather", serif;
	}
	.open {
		font-family: "Open Sans", sans-serif;
	}

	// add a space after italics
	.italicize {
		i:after, em:after, .italic:after, .text-italic:after {
			content: "\00a0";
		}
	}

	blockquote {
		&.with-quote {
			p:before, p:after {
				content: '\201C';
			}
		}
	}
	
	.merri {
		font-family: "Merriweather", serif;
	}
	.open {
		font-family: "Open Sans", sans-serif;
	}
	
	// add a space after italics
	.italicize {
		i:after, em:after, .italic:after, .text-italic:after {
			content: "\00a0";
		}
	}
	
	h1, .h1 {
		font-size: 2.125rem;
	}
	h2, .h2 {
		font-size: 1.875rem;
	}
	h3, .h3 {
		font-size: 1.625rem;
	}
	h4, .h4 {
		font-size: 1.375rem;
	}
	h5, .h5 {
		font-size: 1.125rem;
	}
	h6, .h6 {
		font-size: 1rem;
		font-weight: bold;
	}
	
	small, .small {
		font-size: .8rem;
		line-height: 1.15;
	}
	
	sub, sup, .superscript, .extrasmall {
		font-size: .7rem;
		line-height: 1.15;
	}
}

.bd-navbar {
	background-color: #075290;
	.navbar-nav {
		.nav-link {
			color: #fff;
		}
	}
}

img[src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/252820/logo-medium-small.svg'] {
	display: none;
}

[class^='lh'] {
    border-top: 1px solid #f7f7f7;
    border-bottom: 1px solid #f7f7f7;
    background: #A1C5E7;
    padding-left: 5px;
}

// prism
pre[class*="language-"] {
	margin-top: 0;
	overflow: hidden;
}
code[class*="language-"] {
	display: inline-block;
	width: 90%;
}
code[class*="language-"], pre[class*="language-"] {
	white-space: pre-wrap;       /* css-3 */
	white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
	white-space: -pre-wrap;      /* Opera 4-6 */
	white-space: -o-pre-wrap;    /* Opera 7 */
	word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

pre.code-toolbar > .toolbar {
	opacity: 1!important;
}

pre.code-toolbar > .toolbar a, pre.code-toolbar > .toolbar button, pre.code-toolbar > .toolbar span {
	color: #222;
	border-radius: 2;
	box-shadow: none;
	font-size: 1rem;
	border: 1px solid #BFBDBB;
	text-shadow: none;
	padding: 4px;
}

.migration {
	pre[class*="language-"] {
		margin-bottom: 0;
	}

	.bd-example {
		margin-top: 0;
		margin-bottom: 1rem;
	}
}

.small-cube {
	width: 20px;
	height: 20px;
	outline: 1px solid #ccc;
	flex-direction: row;
	margin: .1rem;
}

.medium-cube {
    width: 75px;
    height: 75px;
    float: left;
    margin: .5rem;
    padding: 2px;
}

.large-cube {
	width: 175px;
	height: 175px;
	float: left;
	margin: .5rem;
	padding: 2px;
}

.margin-color {
	background-color: #F9CD9D;
	margin: 1rem;
	display: flex;
	flex-direction: column;
}
.box-color {
	box-shadow: inset 0 0 0 1rem #C4DDB8;
}
.box-color span {
	background: #A1C5E7;
}
.p-1.box-color {
	box-shadow: inset 0 0 0 1rem #C4DDB8;
}
.p-2.box-color {
	box-shadow: inset 0 0 0 2rem #C4DDB8;
}
.p-3.box-color {
	box-shadow: inset 0 0 0 3rem #C4DDB8;
}
.p-4.box-color {
	box-shadow: inset 0 0 0 4rem #C4DDB8;
}
.p-5.box-color {
	box-shadow: inset 0 0 0 5rem #C4DDB8;
}

/* svg */
.fill-none {
	fill: none;
}
.fill-gray {
	fill: #555;
}
.fill-linear-gradient {
	fill: url(#linear-gradient);
}
.fill-white {
	fill: #fff;
}
.fill-even-odd {
	fill-rule: evenodd;
}

.navbar-brand svg {
	outline: 1px solid red;
}

.bd-content > ol,
.bd-content > p,
.bd-content > ul,
.bd-lead {
	width: 100%;
	max-width: 100%;
}

.bd-search {
	.form-control {
		&:focus {
			border-color: #075290;
			box-shadow: 0 0 0 3px rgba(7, 82, 144, 0.25);
		}
	}
}

.dot {
	display: inline-block;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	font-size: 20px;
	color: #fff;
	line-height: 30px;
	text-align: center;
	background: #000;
	vertical-align: middle;
	margin-right: 10px;
}

.control {
	position: fixed;
	top: 0;
	right: 0;
	border: 1px solid #f0f0f0;
	width: 230px;
	height: 125px;
	z-index: 9999;
	background: #fff;
	padding: 4px;
	-webkit-box-shadow: -2px 1px 5px 0px rgba(50, 50, 50, 0.75);
	-moz-box-shadow: -2px 1px 5px 0px rgba(50, 50, 50, 0.75);
	box-shadow: -2px 1px 5px 0px rgba(50, 50, 50, 0.75);
}

// .bd-example {
// 	border: 3px dotted #f7f7f9;
// }

iframe {
	height: 600px;
	&.f-tall {
		height: 600px;
	}
	&.f-full {
		height: 100vh;
	}
	&.f-small {
		height: 300px;
	}
	// width: 412px;
	width: 100%;
	outline: 1px solid #ccc;
	resize: horizontal;
	overflow: auto;
}

.buttons {
	width: 412px;
	a {
		border: 1px solid #ccc;
		color: #555;
		font-weight: bold;
		height: 50px;
		text-align: center;
		padding-top: 10px;
		&:hover {
			text-decoration: none;
		}
	}
}

.icon-grid {
	display: flex;
	flex-wrap: wrap;
	border-right: 1px solid #f0f0f0;
	> div {
		p {
			font-size: 10px;
			margin-left: 4px;
			margin-bottom: 0;
		}
	}
	img,
	svg {
		width: 80px;
		height: 80px;
		margin: 4px;
		background: #f0f0f0;
		padding: 20px;
	}
}

.ctrl {
	position: fixed;
	top: 280px;
	right: 0;
	width: 35px;
	padding: 12px 0;
	text-align: center;
	background: #fff;
	transition-duration: 0.3s;
	border-radius: 0 5px 5px 0;
	box-shadow: 3px 0 5px 0px rgba(133, 130, 133, 0.25);

	.mdi {
		color: #5a5a5a;
	}
	a {
		font-size: 30px;
		color: #222;
	}
}



.highlight {
	background: #f5f2f0;
}
.bd-example {
	border-color: #f5f2f0;
}

.aa-input-container {
	display: inline-block;
	position: relative;
	width: 100%;
}
.aa-input-search {
	// max-width: 300px;
	width: 100%;
	padding: 12px 28px 12px 12px;
	border: 1px solid #e4e4e4;
	box-sizing: border-box;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}
.aa-input-search::-webkit-search-decoration,
.aa-input-search::-webkit-search-cancel-button,
.aa-input-search::-webkit-search-results-button,
.aa-input-search::-webkit-search-results-decoration {
	display: none;
}
.aa-input-icon {
	height: 16px;
	width: 16px;
	position: absolute;
	top: 50%;
	right: 16px;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	fill: #e4e4e4;
	pointer-events: none;
}
.aa-dropdown-menu {
	background-color: #fff;
	border: 1px solid rgba(228, 228, 228, 0.6);
	min-width: 300px;
	margin-top: 10px;
	box-sizing: border-box;
	// min-width: 600px;
}
.aa-suggestion {
	padding: 6px 12px;
	cursor: pointer;
}
.aa-suggestions-category {
	border-bottom: 1px solid rgba(228, 228, 228, 0.6);
	border-top: 1px solid rgba(228, 228, 228, 0.6);
	padding: 6px 12px;
}

.aa-dropdown-menu > div {
	display: inline-block;
	width: 50%;
	vertical-align: top;
}
.aa-empty {
	padding: 6px 12px;
}
