{% extends "templates/_demo.njk" %}
{% block main %}

<div class="container demo mt-3">
	<h4>Standard</h4>
	<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit repellat alias, repudiandae magnam commodi placeat enim. Quaerat magni amet possimus numquam inventore, vitae dolor delectus, saepe impedit voluptas at illum.</p>
	<blockquote class="blockquote p-3"><p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
		<footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source Title</cite></footer>
	</blockquote>
	<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repudiandae, molestiae! Quidem fugiat, neque facere rem suscipit doloremque cupiditate nulla nostrum iure ex modi, velit vel quam debitis veritatis, molestiae sunt!</p>

	<h4>With Partial Border</h4>
	<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad, odit incidunt voluptatem nulla quae magni molestiae eveniet sed. Rem architecto cupiditate deleniti accusamus aliquid illum optio facere autem fugiat. Iure!</p>
		<blockquote class="blockquote bl-4 p-3 br-1 "><p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
		<footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source Title</cite></footer>
	</blockquote>
	<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus totam tempore sit culpa modi aliquid excepturi fugiat, fuga est praesentium dolor error tenetur voluptate impedit commodi maxime et ipsam libero?</p>
	<h4>With Partial Border and Quotes</h4>
	<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae quos nostrum suscipit explicabo veniam, perferendis magnam repudiandae earum itaque recusandae quas sapiente harum, eveniet numquam voluptatum voluptates, at voluptate architecto?</p>
	<blockquote class="blockquote bl-4 p-3 br-1 with-quote"><p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
		<footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source Title</cite></footer>
	</blockquote>
	<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium, distinctio minus animi veritatis, quaerat id, neque unde rem corrupti atque tempora numquam cumque! Reprehenderit natus dolorem laudantium est possimus. Quod.</p>
	<h4>With Full Border and Quotes</h4>
	<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi sit illum ducimus tenetur consectetur. Sint delectus, odit excepturi similique aliquam architecto vero modi harum est assumenda. Quisquam corrupti rerum accusamus?</p>
	<blockquote class="blockquote p-3 bl-4 br-1 bt-1 bb-1 with-quote"><p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
		<footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source Title</cite></footer>
	</blockquote>
	<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eaque earum accusantium quod. Cupiditate recusandae accusantium est deserunt sed. Incidunt quidem quos ab quia itaque? Dolore suscipit unde temporibus aperiam praesentium!</p>
</div>


{% endblock %}