{% extends "templates/_demo.njk" %}
{% block main %}
<div class="container">
	<h2>Using CSS Columns</h2>
	<h4>One Column Bulleted List</h4>
	<div class="row">
		<div class="col">
			<ul class="lsp-in">
				<li>Cras justo odio</li>
				<li>Dapibus ac facilisis in</li>
				<li>Morbi leo risus</li>
				<li>Porta ac consectetur ac</li>
				<li>Vestibulum at eros</li>
			</ul>
		</div>
	</div>
	<h4>Two Column Bulleted List</h4>
	<div class="row">
		<div class="col">
			<ul class="cc-md-2 lsp-in">
				<li>1 Cras justo odio</li>
				<li>2 Dapibus ac facilisis in</li>
				<li>3 Morbi leo risus</li>
				<li>4 Porta ac consectetur ac</li>
				<li>5 Vestibulum at eros</li>
				<li>6 Cras justo odio</li>
				<li>7 Dapibus ac facilisis in</li>
				<li>8 Morbi leo risus</li>
				<li>9 Porta ac consectetur ac</li>
				<li>0 Vestibulum at eros</li>
			</ul>
		</div>
	</div>
	<h4>Three Column Bulleted List</h4>
	<div class="row">
		<div class="col">
			<ul class="cc-lg-3 cc-md-2 lsp-in">
				<li>1 Cras justo odio</li>
				<li>2 Dapibus ac facilisis in</li>
				<li>3 Morbi leo risus</li>
				<li>4 Porta ac consectetur ac</li>
				<li>5 Vestibulum at eros</li>
				<li>6 Cras justo odio</li>
				<li>7 Dapibus ac facilisis in</li>
				<li>8 Morbi leo risus</li>
				<li>9 Porta ac consectetur ac</li>
				<li>10 Vestibulum at eros</li>
				<li>11 Cras justo odio</li>
				<li>12 Dapibus ac facilisis in</li>
				<li>13 Morbi leo risus</li>
				<li>14 Porta ac consectetur ac</li>
				<li>15 Vestibulum at eros</li>
			</ul>
		</div>
	</div>

	<h2>Using Bootstrap Columns</h2>
	<h4>One Column Bulleted List</h4>
	<div class="row no-gutters">
		<div class="col-md-6">
			<ul>
				<li>Cras justo odio</li>
				<li>Dapibus ac facilisis in</li>
				<li>Morbi leo risus</li>
				<li>Porta ac consectetur ac</li>
				<li>Vestibulum at eros</li>
			</ul>
		</div>
	</div>
	<h4>Two Column Bulleted List</h4>
	<div class="row no-gutters">
		<div class="col-md-6">
			<ul class="mb-0 mb-md-3">
				<li>Cras justo odio</li>
				<li>Dapibus ac facilisis in</li>
				<li>Morbi leo risus</li>
				<li>Porta ac consectetur ac</li>
				<li>Vestibulum at eros</li>
			</ul>
		</div>
		<div class="col-md-6">
			<ul class="mb-0 mb-md-3">
				<li>Cras justo odio</li>
				<li>Dapibus ac facilisis in</li>
				<li>Morbi leo risus</li>
				<li>Porta ac consectetur ac</li>
				<li>Vestibulum at eros</li>
			</ul>
		</div>
	</div>
	<h4>Three Column Bulleted List</h4>
	<div class="row no-gutters">
		<div class="col-md-4">
			<ul class="mb-0">
				<li>Cras justo odio</li>
				<li>Dapibus ac facilisis in</li>
				<li>Morbi leo risus</li>
				<li>Porta ac consectetur ac</li>
				<li>Vestibulum at eros</li>
			</ul>
		</div>
		<div class="col-md-4">
			<ul class="mb-0 mb-md-3">
				<li>Cras justo odio</li>
				<li>Dapibus ac facilisis in</li>
				<li>Morbi leo risus</li>
				<li>Porta ac consectetur ac</li>
				<li>Vestibulum at eros</li>
			</ul>
		</div>
		<div class="col-md-4">
			<ul class="mb-0 mb-md-3">
				<li>Cras justo odio</li>
				<li>Dapibus ac facilisis in</li>
				<li>Morbi leo risus</li>
				<li>Porta ac consectetur ac</li>
				<li>Vestibulum at eros</li>
			</ul>
		</div>
	</div>
</div>
{% endblock %}