{% extends "templates/_demo.njk" %}
{% block main %}
<div class="container demo">
	<h2>Using CSS Columns</h2>
	<h4>One Column Ordered List</h4>
	<div class="row">
		<div class="col">
			<ol class="lsp-in">
			  <li>Cras justo odio</li>
			  <li>Dapibus ac facilisis in</li>
			  <li>Morbi leo risus</li>
			  <li>Porta ac consectetur ac</li>
			  <li>Vestibulum at eros</li>
			</ol>
		</div>
	</div>
	<h4>Two Column Ordered List</h4>
	<div class="row">
		<div class="col">
			<ol class="cc-md-2 lsp-in">
			  <li>Cras justo odio</li>
			  <li>Dapibus ac facilisis in</li>
			  <li>Morbi leo risus</li>
			  <li>Porta ac consectetur ac</li>
			  <li>Vestibulum at eros</li>
			  <li>Cras justo odio</li>
			  <li>Dapibus ac facilisis in</li>
			  <li>Morbi leo risus</li>
			  <li>Porta ac consectetur ac</li>
			  <li>Vestibulum at eros</li>
			</ol>
		</div>
	</div>
	<h4>Three Column Ordered List</h4>
	<div class="row">
		<div class="col">
			<ol class="cc-lg-3 cc-md-2 lsp-in">
			  <li>Cras justo odio</li>
			  <li>Dapibus ac facilisis in</li>
			  <li>Morbi leo risus</li>
			  <li>Porta ac consectetur ac</li>
			  <li>Vestibulum at eros</li>
			  <li>Cras justo odio</li>
			  <li>Dapibus ac facilisis in</li>
			  <li>Morbi leo risus</li>
			  <li>Porta ac consectetur ac</li>
			  <li>Vestibulum at eros</li>
			  <li>Cras justo odio</li>
			  <li>Dapibus ac facilisis in</li>
			  <li>Morbi leo risus</li>
			  <li>Porta ac consectetur ac</li>
			  <li>Vestibulum at eros</li>
			</ol>
		</div>
	</div>

	<h2>Using Bootstrap Columns</h2>
	<h4>One Column Ordered List</h4>
	<div class="row no-gutters">
		<div class="col-md-6">
			<ol>
			  <li>Cras justo odio</li>
			  <li>Dapibus ac facilisis in</li>
			  <li>Morbi leo risus</li>
			  <li>Porta ac consectetur ac</li>
			  <li>Vestibulum at eros</li>
			</ol>
		</div>
	</div>
	<h4>Two Column Ordered List</h4>
	<div class="row no-gutters">
		<div class="col-md-6">
			<ol class="mb-0 mb-md-3">
			  <li>Cras justo odio</li>
			  <li>Dapibus ac facilisis in</li>
			  <li>Morbi leo risus</li>
			  <li>Porta ac consectetur ac</li>
			  <li>Vestibulum at eros</li>
			</ol>
		</div>
		<div class="col-md-6">
			<ol class="mb-0 mb-md-3">
			  <li>Cras justo odio</li>
			  <li>Dapibus ac facilisis in</li>
			  <li>Morbi leo risus</li>
			  <li>Porta ac consectetur ac</li>
			  <li>Vestibulum at eros</li>
			</ol>
		</div>
	</div>
	<h4>Three Column Ordered List</h4>
	<div class="row no-gutters">
		<div class="col-md-4">
			<ol class="mb-0">
			  <li>Cras justo odio</li>
			  <li>Dapibus ac facilisis in</li>
			  <li>Morbi leo risus</li>
			  <li>Porta ac consectetur ac</li>
			  <li>Vestibulum at eros</li>
			</ol>
		</div>
		<div class="col-md-4">
			<ol class="mb-0 mb-md-3">
			  <li>Cras justo odio</li>
			  <li>Dapibus ac facilisis in</li>
			  <li>Morbi leo risus</li>
			  <li>Porta ac consectetur ac</li>
			  <li>Vestibulum at eros</li>
			</ol>
		</div>
		<div class="col-md-4">
			<ol class="mb-0 mb-md-3">
			  <li>Cras justo odio</li>
			  <li>Dapibus ac facilisis in</li>
			  <li>Morbi leo risus</li>
			  <li>Porta ac consectetur ac</li>
			  <li>Vestibulum at eros</li>
			</ol>
		</div>
	</div>
</div>
{% endblock %}