{% extends "templates/_demo.njk" %}
{% block main %}

<style>
div[class^='col'] {
	outline: 1px solid rgb(238, 148, 148);
	background-color: #fff;
    padding: 10px 0;
}
div[class^='container'] {
	outline: 1px solid rgb(180, 209, 243);
	padding: 10px 0;
	margin-bottom: 10px;
}

.container-fluid {
	background-color:rgba(243, 243, 243, 0.993);
}

.dot {
	display: inline-block;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	font-size: 20px;
	color: #fff;
	line-height: 30px;
	text-align: center;
	background: #000;
	vertical-align: middle;
	margin-right: 10px;
}

.content, .left-nav {
	min-height: 300px;
}
</style>

<div class="container-fluid pl-sm-0 pr-sm-0 global-alert">
	<div class="container">
		<div class="row">
            <div class="col"><span class="dot"></span>Global Alert</div>
		</div>
	</div>
</div>

<div class="container-fluid pl-sm-0 pr-sm-0 links-bar">
	<div class="container">
        <div class="row">
            <div class="col"><span class="dot"></span>Links Bar</div>
        </div>
	</div>
</div>

<div class="container header">
    <div class="row">
        <div class="col">
            <header role="banner" aria-label="Header">
                <span class="dot"></span>Header <small>(Logo, Global Search, Local Search, Global A-Z, Local A-Z)</small></div>
            </header>
        </div>
    </div>
</div>

<div class="container-fluid d-none d-md-block intranet-global">
    <div class="container">
        <div class="row">
            <div class="col"><span class="dot"></span>Intranet Global</div>
        </div>
    </div>
</div>

<div class="container-fluid site-title d-none d-md-block site-title">
    <div class="container">
        <div class="row">
            <div class="col"><span class="dot"></span>Site Title</div>
        </div>
    </div>
</div>

<div class="container-fluid bg-gray-l3 bb-2 bb-md-0 b-gray-l2 d-md-none sticky-top section-nav">
    <nav role="navigation" aria-label="Section Nav" class="w-100">
        <span class="dot"></span>Page Title/Section Nav
    </nav>
</div>

<div class="container d-none d-md-block">
    <div class="row">
        <div class="col-sm-9">
            <nav role="navigation" aria-label="Breadcrumb" class="d-none d-md-block breadcrumbs">
                <span class="dot"></span>Breadcrumbs
            </nav>
        </div>
        <div class="col-sm-3 page-share">
            Page Share
        </div>
    </div>
</div>

<div class="container">
	<div class="d-flex flex-wrap">
		<div class="col-12 col-md-3 p-0 d-none d-md-block">
			<nav role="navigation" aria-label="Left Nav" class="mb-2 mt-3 left-nav">
				<span class="dot"></span>Left Nav
			</nav>
			<div class="col-12 mt-5">
				<span class="dot"></span>Under Left Nav
			</div>
		</div>
		<main class="bg-white col-12 col-md-9 pb-0 pl-0 pr-0 pl-md-5 pr-md-4" role="main" aria-label="Main Content Area">
			<div class="row d-none d-md-block visual-element">
				<div class="col-12">
					<span class="dot"></span>Visual Element
				</div>
            </div>
			<div class="row audience-identity">
				<div class="col-12">
					<span class="dot"></span>Audience Identity
				</div>
            </div>
			<div class="row page-title">
                <div class="col-12">
                    <span class="dot"></span>Page Title
                </div>
            </div>
			<div class="row page-language">
                <div class="col-12">
                    <span class="dot"></span>Page Language
                </div>
            </div>
			<div class="row">
				<div class="col-12 content">
					<span class="dot"></span>Content Area
                </div>
            </div>
			<div class="row page-format">
                    <div class="col-12">
                        <span class="dot"></span>Page Format
                    </div>
                </div>
			<div class="row">
				<div class="col-12">
					<span class="dot"></span>Persistent Content Area
				</div>
			</div>
			<div class="row d-md-none">
				<div class="col-12">
					<span class="dot"></span>Last Updated
				</div>
			</div>
			<div class="row d-md-none">
				<div class="col-12 mobile-nav">
					<span class="dot"></span>Bottom Nav
				</div>
			</div>
		</main>
	</div>
</div>

<div class="container-fluid container-fluid bg-gray-d2 pt-3 pb-3 mt-3 text-white page-footer">
	<div class="container">
		<footer role="contentinfo" aria-label="Footer">
			<span class="dot"></span>Footer
		</footer>
	</div>
</div>
<div class="container-fluid bg-gray-l2 pt-2 pb-5 mb-3">
    <div class="container">
        <div class="row">
            <div class="col">
                <footer role="contentinfo" aria-label="Sub Footer">
                    <span class="dot"></span>Sub Footer
                </footer>
            </div>
        </div>
    </div>
</div>

<nav role="navigation" aria-label="Social Media" class="d-md-none w-100 op-100 z-max p-fix p-bottom">
    <span class="dot"></span>Share Bar
</nav>


{% endblock %}