{% extends "templates/_demo.njk" %}
{% block main %}

<div class="container">
	<ul class="cdc-timeline">
		<li>
			<div class="timeline-badge primary">
				<a><i class="material-icons">highlight_off</i></a>
			</div>
			<div class="timeline-panel">
				<div class="timeline-heading"><img class="img-fluid" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/252820/750x464-2.jpg"></div>
				<div class="timeline-body">
					<h4 class="timeline-title">Title</h4>
					<p>lorem</p>
				</div>
			</div>
		</li>
		<li class="timeline-inverted">
			<div class="timeline-badge primary">
				<a><i class="material-icons">highlight_off</i></a>
			</div>
			<div class="timeline-panel">
				<div class="timeline-heading"><img class="img-fluid" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/252820/750x464-1.jpg"></div>
				<div class="timeline-body">
					<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Veritatis molestiae error voluptate delectus, dolor amet quidem provident magni? Magni aspernatur consequuntur dicta porro quaerat quod sint. Fuga nesciunt voluptatum provident?</p>
				</div>
			</div>
		</li>
		<li>
			<div class="timeline-badge primary">
				<a><i class="material-icons">highlight_off</i></a>
			</div>
			<div class="timeline-panel">
				<div class="timeline-heading"><img class="img-fluid" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/252820/750x464-3.jpg"></div>
				<div class="timeline-body">
					<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Veritatis molestiae error voluptate delectus, dolor amet quidem provident magni? Magni aspernatur consequuntur dicta porro quaerat quod sint. Fuga nesciunt voluptatum provident?</p>
				</div>
			</div>
		</li>
		<li class="timeline-inverted">
			<div class="timeline-badge primary">
				<a><i class="material-icons">highlight_off</i></a>
			</div>
			<div class="timeline-panel">
				<div class="timeline-body">
					<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Veritatis molestiae error voluptate delectus, dolor amet quidem provident magni? Magni aspernatur consequuntur dicta porro quaerat quod sint. Fuga nesciunt voluptatum provident?</p>
				</div>
			</div>
		</li>
		<li>
			<div class="timeline-badge primary">
				<a><i class="material-icons">highlight_off</i></a>
			</div>
			<div class="timeline-panel">
				<div class="timeline-heading"><img class="img-fluid" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/252820/750x464-4.jpg"></div>
				<div class="timeline-body">
					<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Veritatis molestiae error voluptate delectus, dolor amet quidem provident magni? Magni aspernatur consequuntur dicta porro quaerat quod sint. Fuga nesciunt voluptatum provident?</p>
				</div>
			</div>
		</li>
		<li class="timeline-inverted">
			<div class="timeline-badge primary">
				<a><i class="material-icons">highlight_off</i></a>
			</div>
			<div class="timeline-panel">
				<div class="timeline-heading"><img class="img-fluid" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/252820/750x464-5.jpg"></div>
				<div class="timeline-body">
					<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Veritatis molestiae error voluptate delectus, dolor amet quidem provident magni? Magni aspernatur consequuntur dicta porro quaerat quod sint. Fuga nesciunt voluptatum provident?</p>
				</div>

			</div>
		</li>
		<li class="clearfix" style="float: none;"></li>
	</ul>
</div>

{% endblock %}