{% extends "templates/_demo.njk" %}
{% block main %}


<div class="container italicize demo">
	<!-- Example row of columns -->
	<div class="row">
		<div class="col">
			<h1>Page Title (h1)</h1>
			<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam mollitia (<i>1</i>) esse quae provident vitae at facilis commodi sint modi facere neque, soluta numquam (60.9%: stage 1 = 25.2%, stage 2 = 35.7%) atque nulla perspiciatis reprehenderit! Sed, aliquid sunt?</p>
			<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Obcaecati asperiores consectetur accusantium labore ut aliquam veniam quaerat. Esse ducimus officia totam hic assumenda ipsum, est quasi ullam (<i>2</i>) praesentium in quis! Lorem (ipsum) dolor sit, amet consectetur adipisicing elit. Obcaecati asperiores consectetur accusantium labore ut aliquam veniam quaerat. Esse ducimus officia totam hic assumenda ipsum, est quasi ullam praesentium in quis!</p>
			<h2>Text Styles (h2)</h2>
			<p>Lorem ipsum dolor sit amet consectetur, <b>adipisicing elit</b>. Cum mollitia <b><i>quam placeat fugiat</i></b> est sequi. Praesentium <b>iure ut</b> <i>tenetur</i> aliquid illo facere, ducimus eos enim officia, in ullam, quae necessitatibus?</p>
			<h3>Cum mollitia </h3>
			<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit perferendis unde inventore tenetur dolorem iste molestiae natus animi totam, numquam libero, beatae quae. Incidunt earum inventore, error rem modi vitae!</p>
			<h4>Reprehenderit </h4>
				<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit perferendis unde inventore tenetur dolorem iste molestiae natus animi totam, numquam libero, beatae quae. Incidunt earum inventore, error rem modi vitae!</p>
			<h5>Lorem ipsum (h5)</h5>
			<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit perferendis unde inventore tenetur dolorem iste molestiae natus animi totam, numquam libero, beatae quae. Incidunt earum inventore, error rem modi vitae!</p>
			<h6>Incidunt earum inventore (h6)</h6>
			<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit perferendis unde inventore tenetur dolorem iste molestiae natus animi totam, numquam libero, beatae quae. Incidunt earum inventore, error rem modi vitae!</p>
			<h2>Repellendus (h2)</h2>
			<h3>Blanditiis </h3>
			<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fuga maiores doloribus laborum asperiores, soluta accusantium officia illum! Quam eveniet labore id maxime ut saepe praesentium perspiciatis repellendus, ipsum error autem.</p>
			<h4>Distinctio optio </h4>
			<h5>Natus voluptatibus (h5)</h5>
			<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio optio blanditiis laboriosam iure consequuntur quo commodi, perferendis dolores fuga eius reiciendis et dicta labore repellendus, natus voluptatibus tempora aut esse.</p>
			<h6 hidden>Footnotes (h6)</h6>
			<p class="caption" hidden><b>Abbreviation:</b> HIV = human immunodeficiency virus.<br>
							* Data are based on address of residence as of December 31, 2014 (i.e., most recent known address). Hispanics or Latinos might be of any race.<br>
							<sup>†</sup> The 38 jurisdictions were Alabama, Alaska, California, Colorado, Connecticut, Delaware, the District of Columbia, Georgia, Hawaii, Illinois, Indiana, Iowa, Louisiana, Maine, Maryland, Massachusetts, Michigan, Minnesota, Mississippi, Missouri, Montana, Nebraska, New Hampshire, New Mexico, New York, North Dakota, Oregon, Rhode Island, South Carolina, South Dakota, Tennessee, Texas, Utah, Virginia, Washington, West Virginia, Wisconsin, and Wyoming.<br>
							<sup>§</sup> Defined as having at least one CD4 or VL test performed during 2014, among persons diagnosed through December 31, 2013, and alive on December 31, 2014.<br>
							<sup>¶</sup> Defined as having two or more CD4 or VL tests performed ≥3 months apart during 2014, among persons diagnosed through December 31, 2013, and alive on December 31, 2014.<br>
							** Defined as having a VL result of ≤200 copies/mL at the most recent VL test during 2014. The cut-off value of ≤200 copies/mL was based on the U.S. Department of Health and Human Services recommended definition of virologic failure. <a href="https://aidsinfo.nih.gov/guidelines/html/1/adult-and-adolescent-arv-guidelines/15/virologic-failure">https://aidsinfo.nih.gov/guidelines/html/1/adult-and-adolescent-arv-guidelines/15/virologic-failure</a>.<br>
							<sup>††</sup> Age at year-end 2014.<br>
							<sup>§§</sup> Data statistically adjusted using multiple imputation techniques to account for missing transmission categories.<br>
							<sup>¶¶</sup> Heterosexual contact with a person known to have or to be at high risk for HIV infection.<br>
							*** Includes persons with diagnosed infection attributed to hemophilia, blood transfusion, perinatal exposure, and risk factor not reported or not identified.</p>
					</div>
		<div class="col-md-4" hidden>
			<div class="card mb-2" style="border:0;">
				<img class="card-img-top" src="//placeimg.com/300/201/animals" alt="Deer in animals" />
				<div class="card-body">
					<div class="card-title h4">Kitties are wild and fun!</div>
				</div>
			</div>
			<div class="card" style="background: #f0f0f0;border: 0;">
				<div class="card-body">
					<div class="card-title h4 merry">Happy Days with Pets</div>
			<div class="card mb-2" style="border:0;">
				<div class="card-body">
					<div class="media">
						<img class="d-flexy mr-3 media-top-left" alt="Image" src="//placeimg.com/105/81/animals">
						<div class="media-body">
							<div class="media-title mt-0 h5">Puppies</div>
							<div class="media-text"> and the people who own them</div>
						</div>
					</div>
				</div>
			</div>
			<div class="card mb-2" style="border:0;">
				<div class="card-body">
					<div class="media">
						<img class="d-flexy mr-3 media-top-left" alt="Image" src="//placeimg.com/105/84/animals">
						<div class="media-body">
							<div class="media-title mt-0 h5">Cats</div>
							<div class="media-text"> is Cras sit amet nibh libero</div>
						</div>
					</div>
				</div>
			</div>
			<div class="card mb-2" style="border:0;">
				<div class="card-body">
					<div class="media">
						<img class="d-flexy mr-3 media-top-left" alt="Image" src="//placeimg.com/105/82/animals">
						<div class="media-body">
							<div class="media-title mt-0 h5">Summer Time</div>
							<div class="media-text"> He's a comfy dog!</div>
						</div>
					</div>
				</div>
			</div>

				</div>
			</div>

		</div>
	</div>
	<hr>
</div>
		<div class="container">
	<!-- Example row of columns -->
	<div class="row">
		<div class="col">
			<h1><i>Lorem ipsum</i> dolor sit amet (h1)</h1>
			<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam mollitia esse quae provident vitae at facilis commodi sint modi facere neque, soluta numquam atque nulla perspiciatis reprehenderit! Sed, aliquid sunt?</p>
			<h2><i>Lorem ipsum</i> dolor sit amet (h2)</h2>
			<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam mollitia esse quae provident vitae at facilis commodi sint modi facere neque, soluta numquam atque nulla perspiciatis reprehenderit! Sed, aliquid sunt?</p>
			<h3><i>Lorem ipsum</i> dolor sit amet </h3>
			<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit perferendis unde inventore tenetur dolorem iste molestiae natus animi totam, numquam libero, beatae quae. Incidunt earum inventore, error rem modi vitae!</p>
			<h4><i>Lorem ipsum</i> dolor sit amet </h4>
				<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit perferendis unde inventore tenetur dolorem iste molestiae natus animi totam, numquam libero, beatae quae. Incidunt earum inventore, error rem modi vitae!</p>
			<h5><i>Lorem ipsum</i> dolor sit amet (h5)</h5>
			<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit perferendis unde inventore tenetur dolorem iste molestiae natus animi totam, numquam libero, beatae quae. Incidunt earum inventore, error rem modi vitae!</p>
			<h6><i>Lorem ipsum</i> dolor sit amet (h6)</h6>
			<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit perferendis unde inventore tenetur dolorem iste molestiae natus animi totam, numquam libero, beatae quae. Incidunt earum inventore, error rem modi vitae!</p>
			<h2><i>Lorem ipsum</i> dolor sit amet (h2)</h2>
			<h3><i>Lorem ipsum</i> dolor sit amet </h3>
			<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fuga maiores doloribus laborum asperiores, soluta accusantium officia illum! Quam eveniet labore id maxime ut saepe praesentium perspiciatis repellendus, ipsum error autem.</p>
			<h4><i>Lorem ipsum</i> dolor sit amet </h4>
			<h5><i>Lorem ipsum</i> dolor sit amet (h5)</h5>
			<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio optio blanditiis laboriosam iure consequuntur quo commodi, perferendis dolores fuga eius reiciendis et dicta labore repellendus, natus voluptatibus tempora aut esse.</p>
		</div>
		<div class="col-md-4" hidden>
			<div class="card mb-2" style="border:0;">
				<img class="card-img-top" src="//placeimg.com/300/201/animals" alt="Deer in animals" />
				<div class="card-body">
					<div class="card-title h4">Kitties are wild and fun!</div>
				</div>
			</div>
			<div class="card" style="background: #f0f0f0;border: 0;">
				<div class="card-body">
					<div class="card-title h4 merry">Happy Days with Pets</div>
			<div class="card mb-2" style="border:0;">
				<div class="card-body">
					<div class="media">
						<img class="d-flexy mr-3 media-top-left" alt="Image" src="//placeimg.com/105/81/animals">
						<div class="media-body">
							<div class="media-title mt-0 h5">Puppies</div>
							<div class="media-text"> and the people who own them</div>
						</div>
					</div>
				</div>
			</div>
			<div class="card mb-2" style="border:0;">
				<div class="card-body">
					<div class="media">
						<img class="d-flexy mr-3 media-top-left" alt="Image" src="//placeimg.com/105/84/animals">
						<div class="media-body">
							<div class="media-title mt-0 h5">Cats</div>
							<div class="media-text"> is Cras sit amet nibh libero</div>
						</div>
					</div>
				</div>
			</div>
			<div class="card mb-2" style="border:0;">
				<div class="card-body">
					<div class="media">
						<img class="d-flexy mr-3 media-top-left" alt="Image" src="//placeimg.com/105/82/animals">
						<div class="media-body">
							<div class="media-title mt-0 h5">Summer Time</div>
							<div class="media-text"> He's a comfy dog!</div>
						</div>
					</div>
				</div>
			</div>

				</div>
			</div>

		</div>
	</div>
	<hr>
</div>
<div class="container">
	<h1>Page Title with Lead (h1)</h1>
	<p class="lead">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Molestias, nobis hic perspiciatis, officia repellat quos accusantium non autem, in quasi esse! Fugit quia nobis fugiat quis dolorem sed</p>
	<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Molestias, nobis hic perspiciatis, officia repellat quos accusantium non autem, in quasi esse! Fugit quia nobis fugiat quis dolorem sed consectetur odit? >Lorem ipsum dolor sit, amet consectetur adipisicing elit. Odio reiciendis explicabo culpa nulla amet optio ex illo, mollitia eligendi temporibus! Ab at ducimus vitae est commodi adipisci accusamus ex nesciunt!</p>
	<h2>Title with Lead (h2)</h2>
	<p class="lead">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Molestias, nobis hic perspiciatis, officia repellat quos accusantium non autem, in quasi esse! Fugit quia nobis fugiat quis dolorem sed</p>
	<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Molestias, nobis hic perspiciatis, officia repellat quos accusantium non autem, in quasi esse! Fugit quia nobis fugiat quis dolorem sed consectetur odit? >Lorem ipsum dolor sit, amet consectetur adipisicing elit. Odio reiciendis explicabo culpa nulla amet optio ex illo, mollitia eligendi temporibus! Ab at ducimus vitae est commodi adipisci accusamus ex nesciunt!</p>
<table class="table">
  <tr>
    <th>Company</th>
    <th>Contact</th>
    <th>Country</th>
  </tr>
  <tr>
    <td>Alfreds Futterkiste</td>
    <td>Maria Anders</td>
    <td>Germany</td>
  </tr>
  <tr>
    <td>Centro comercial Moctezuma</td>
    <td>Francisco Chang</td>
    <td>Mexico</td>
  </tr>
  <tr>
    <td>Ernst Handel</td>
    <td>Roland Mendel</td>
    <td>Austria</td>
  </tr>
  <tr>
    <td>Island Trading</td>
    <td>Helen Bennett</td>
    <td>UK</td>
  </tr>
  <tr>
    <td>Laughing Bacchus Winecellars</td>
    <td>Yoshi Tannamuri</td>
    <td>Canada</td>
  </tr>
  <tr>
    <td>Magazzini Alimentari Riuniti</td>
    <td>Giovanni Rovelli</td>
    <td>Italy</td>
  </tr>
</table>

	<table class="table small">
  <tr>
    <th>Company</th>
    <th>Contact</th>
    <th>Country</th>
  </tr>
  <tr>
    <td>Alfreds Futterkiste</td>
    <td>Maria Anders</td>
    <td>Germany</td>
  </tr>
  <tr>
    <td>Centro comercial Moctezuma</td>
    <td>Francisco Chang</td>
    <td>Mexico</td>
  </tr>
  <tr>
    <td>Ernst Handel</td>
    <td>Roland Mendel</td>
    <td>Austria</td>
  </tr>
  <tr>
    <td>Island Trading</td>
    <td>Helen Bennett</td>
    <td>UK</td>
  </tr>
  <tr>
    <td>Laughing Bacchus Winecellars</td>
    <td>Yoshi Tannamuri</td>
    <td>Canada</td>
  </tr>
  <tr>
    <td>Magazzini Alimentari Riuniti</td>
    <td>Giovanni Rovelli</td>
    <td>Italy</td>
  </tr>
</table>





</div>

{% endblock %}