{% set links = [
	{
	  "link_href" : "cards.html",
	  "link_text" : "Cards"

	},
	{
	  "link_href" : "colors.html",
	  "link_text" : "Colors"
	},
	{
	  "link_href" : "fonts.html",
	  "link_text" : "Fonts"
	},
	{
	  "link_href" : "typography.html",
	  "link_text" : "Typography"
	},
	{
	  "link_href" : "bamana.html",
	  "link_text" : "bamana"
	}   
]
%}